# Estimating Mandatory Tour Frequency

This notebook illustrates how to re-estimate a single model component for ActivitySim.  This process 
includes running ActivitySim in estimation mode to read household travel survey files and write out
the estimation data bundles used in this notebook.  To review how to do so, please visit the other
notebooks in this directory.

# Load libraries

In [1]:
import os
import larch  # !conda install larch -c conda-forge # for estimation
import pandas as pd

We'll work in our `test` directory, where ActivitySim has saved the estimation data bundles.

In [2]:
os.chdir('test')

# Load data and prep model for estimation

In [3]:
modelname = "mandatory_tour_frequency"

from activitysim.estimation.larch import component_model
model, data = component_model(modelname, return_data=True)

# Review data loaded from the EDB

The next step is to read the EDB, including the coefficients, model settings, utilities specification, and chooser and alternative data.

## Coefficients

In [4]:
data.coefficients

                                                      value constrain
coefficient_name
coef_unavailable                                  -999.0000         T
coef_ft_worker_work2_asc                            -3.3781         F
coef_pt_worker_work2_asc                            -3.0476         F
coef_univ_work1_asc                                  2.1660         F
coef_univ_work2_asc                                 -1.3965         F
coef_univ_school2_asc                               -3.7429         F
coef_univ_work_and_school_asc                        0.1073         F
coef_driving_age_child_school2_asc                  -3.1360         F
coef_driving_age_child_work_and_school_asc          -4.4362         F
coef_pre_driving_age_child_school2_asc              -3.9703         F
coef_female_work1                                    0.1737         F
coef_female_work2                                   -0.2255         F
coef_female_school1                                  0.1592         F
coef_female_school2                                  0.1140         F
coef_female_work_and_school                         -0.3442         F
coef_female_univ_work1                               0.1737         F
coef_under_35_work1                                 -0.4629         F
coef_under_35_work2                                 -0.1375         F
coef_under_35_school1                                0.7218         F
coef_under_35_school2                                1.2750         F
coef_under_35_work_and_school                        0.9761         F
coef_can_walk_to_work_work2                          0.5268         F
coef_can_walk_to_work_school2                        0.7114         F
coef_can_walk_to_work_and_school                     0.1391         F
coef_round_trip_auto_time_to_work_work2             -0.0035         F
coef_round_trip_auto_time_to_work_school2           -0.0034         F
coef_round_trip_auto_time_to_work_work_and_school   -0.0031         F
coef_student_employed                                3.0140         F
coef_non_student_goes_to_school                      3.8830         F
coef_no_cars_in_hh_work2                            -1.3060         F
coef_no_cars_in_hh_school2                          -1.4130         F
coef_no_cars_in_hh_work_and_school                  -1.3020         F
coef_few_cars_than_drivers_school2                  -0.5759         F
coef_num_preschool_in_hh_work1                       0.2191         F
coef_num_preschool_in_hh_work2                      -0.1478         F
coef_num_preschool_in_hh_school1                    -0.1335         F
coef_num_preschool_in_hh_school2                    -0.5577         F
coef_num_preschool_in_hh_work_and_school            -0.1251         F
coef_num_non_workers_in_hh_school1                   0.2574         F
coef_hh_income_gt_50k_work                          -0.0528         F
coef_hh_income_gt_50k_school1                        0.0347         F
coef_hh_income_gt_50k_worker_work_and_school         0.0347         F
coef_hh_income_gt_50k_student_work_and_school       -0.0528         F
coef_non_family_hh_category1                        -0.2500         F
coef_non_family_hh_category2                        -0.1792         F
coef_num_under_16_not_at_school_work2                0.1804       NaN
coef_num_under_16_not_at_school_school2              0.0866       NaN
coef_num_under_16_not_at_school_work_and_school     -0.1955       NaN
coef_home_urban_work1                               -0.2831       NaN
coef_home_urban_work2                                0.2308       NaN
coef_home_urban_school1                             -0.1361       NaN
coef_home_urban_school2                              0.3170       NaN
coef_home_urban_work_and_school                     -0.3509       NaN

## Utility specification

In [5]:
data.spec

,Label,Description,Expression,work1,work2,school1,school2,work_and_school
0,util_ft_worker,Full-time worker alternative-specific constants,ptype == 1,0,coef_ft_worker_work2_asc,NaN,NaN,NaN
1,util_pt_worker,Part-time worker alternative-specific constants,ptype == 2,0,coef_pt_worker_work2_asc,NaN,NaN,NaN
2,util_univ,University student alternative-specific constants,ptype == 3,coef_univ_work1_asc,coef_univ_work2_asc,0,coef_univ_school2_asc,coef_univ_work_and_school_asc
3,util_non_working_adult,Non-working adult alternative-specific constants,ptype == 4,NaN,NaN,NaN,NaN,NaN
4,util_retired,Retired alternative-specific constants,ptype == 5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
95,util_availability_driving_age_child,Unavailable: Driving-age child,ptype == 6,coef_unavailable,coef_unavailable,NaN,NaN,NaN
96,util_availability_pre_driving_age_student,Unavailable: Pre-driving age child who is in s...,ptype == 7,NaN,coef_unavailable,NaN,NaN,coef_unavailable
97,util_availability_pre_driving_age_not_in_school,Unavailable: Pre-driving age child who is not ...,ptype == 8,coef_unavailable,coef_unavailable,NaN,coef_unavailable,coef_unavailable
98,util_availability_work_tours_no_usual_work_loc...,Unavailable: Work tours for those with no usua...,~(workplace_zone_id > -1),coef_unavailable,coef_unavailable,NaN,NaN,coef_unavailable
99,util_availability_school_tours_no_usual_school...,Unavailable: School tours for those with no us...,~(school_zone_id > -1),NaN,NaN,coef_unavailable,coef_unavailable,coef_unavailable

## Chooser data

In [6]:
data.chooser_data

,person_id,model_choice,override_choice,util_ft_worker,util_pt_worker,util_univ,util_non_working_adult,util_retired,util_driving_age_child,util_pre_driving_age_child,...,HSENROLL,COLLFTE,COLLPTE,TOPOLOGY,TERMINAL,household_density,employment_density,density_index,is_cbd,override_choice_code
household_id,,,,,,,,,,,,,,,,,,,,,
629,629,school1,school1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.00000,1,1.64217,13.280000,4.535000,3.380567,False,3
1274,1274,school1,school1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,506.23721,0.00000,0.00000,1,2.44180,19.776119,7.179104,5.267062,False,3
27266,27266,school1,school1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,26.92893,2035.58118,20.60887,2,5.22542,97.634722,550.205552,82.920387,False,3
28012,28012,school1,school1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.00000,690.54974,0.00000,3,4.73802,117.769796,246.205869,79.663609,False,3
29476,29476,school1,school1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.00000,2,4.75017,71.898080,273.023745,56.911108,False,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2823069,7514404,work1,work1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.00000,1,3.95752,65.596535,32.655666,21.802041,True,1
2823442,7514777,work1,work1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.00000,2,4.51942,56.706023,144.861886,40.753220,True,1
2823850,7515185,work_and_school,work_and_school,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.00000,3,2.46800,0.296858,36.296472,0.294449,True,5
2836262,7527597,school1,school1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,3961.04761,17397.79102,11152.93652,1,2.28992,3.984127,23.820106,3.413233,False,3
2849737,7541072,school2,school2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.00000,3,3.35329,34.477273,15.454545,10.671163,True,4

# Estimate

With the model setup for estimation, the next step is to estimate the model coefficients.  Make sure to use a sufficiently large enough household sample and set of zones to avoid an over-specified model, which does not have a numerically stable likelihood maximizing solution.  Larch has a built-in estimation methods including BHHH, and also offers access to more advanced general purpose non-linear optimizers in the `scipy` package, including SLSQP, which allows for bounds and constraints on parameters.  BHHH is the default and typically runs faster, but does not follow constraints on parameters.

In [7]:
model.estimate()

req_data does not request avail_ca or avail_co but it is set and being provided

,value,initvalue,nullvalue,minimum,maximum,holdfast,note,best
0,0.000000,0.0000,0.0,0.0,0.0,1,,0.000000
coef_can_walk_to_work_and_school,0.071630,0.1391,0.0,NaN,NaN,0,,0.071630
coef_can_walk_to_work_school2,1.368092,0.7114,0.0,NaN,NaN,0,,1.368092
coef_can_walk_to_work_work2,0.651120,0.5268,0.0,NaN,NaN,0,,0.651120
coef_driving_age_child_school2_asc,-13.067731,-3.1360,0.0,NaN,NaN,0,,-13.067731
coef_driving_age_child_work_and_school_asc,-12.605997,-4.4362,0.0,NaN,NaN,0,,-12.605997
coef_female_school1,0.247086,0.1592,0.0,NaN,NaN,0,,0.247086
coef_female_school2,-0.301339,0.1140,0.0,NaN,NaN,0,,-0.301339
coef_female_work1,-2.242748,0.1737,0.0,NaN,NaN,0,,-2.242748
coef_female_work2,-0.387411,-0.2255,0.0,NaN,NaN,0,,-0.387411
coef_female_work_and_school,-3.218280,-0.3442,0.0,NaN,NaN,0,,-3.218280
coef_few_cars_than_drivers_school2,-0.862451,-0.5759,0.0,NaN,NaN,0,,-0.862451
coef_ft_worker_work2_asc,-5.517933,-3.3781,0.0,NaN,NaN,0,,-5.517933
coef_hh_income_gt_50k_school1,0.034700,0.0347,0.0,NaN,NaN,0,,0.034700
coef_hh_income_gt_50k_student_work_and_school,-0.921175,-0.0528,0.0,NaN,NaN,0,,-0.921175
coef_hh_income_gt_50k_work,-1.418551,-0.0528,0.0,NaN,NaN,0,,-1.418551
coef_hh_income_gt_50k_worker_work_and_school,0.034700,0.0347,0.0,NaN,NaN,0,,0.034700
coef_home_urban_school1,-0.136100,-0.1361,0.0,NaN,NaN,0,,-0.136100
coef_home_urban_school2,-8.455615,0.3170,0.0,NaN,NaN,0,,-8.455615
coef_home_urban_work1,4.026796,-0.2831,0.0,NaN,NaN,0,,4.026796
coef_home_urban_work2,2.624854,0.2308,0.0,NaN,NaN,0,,2.624854
coef_home_urban_work_and_school,-0.447070,-0.3509,0.0,NaN,NaN,0,,-0.447070
coef_no_cars_in_hh_school2,-0.620465,-1.4130,0.0,NaN,NaN,0,,-0.620465
coef_no_cars_in_hh_work2,-0.725967,-1.3060,0.0,NaN,NaN,0,,-0.725967
coef_no_cars_in_hh_work_and_school,-0.775934,-1.3020,0.0,NaN,NaN,0,,-0.775934
coef_non_family_hh_category1,-0.250000,-0.2500,0.0,NaN,NaN,0,,-0.250000
coef_non_family_hh_category2,5.000771,-0.1792,0.0,NaN,NaN,0,,5.000771
coef_non_student_goes_to_school,3.883000,3.8830,0.0,NaN,NaN,0,,3.883000
coef_num_non_workers_in_hh_school1,0.257400,0.2574,0.0,NaN,NaN,0,,0.257400
coef_num_preschool_in_hh_school1,-0.133500,-0.1335,0.0,NaN,NaN,0,,-0.133500
coef_num_preschool_in_hh_school2,0.356660,-0.5577,0.0,NaN,NaN,0,,0.356660
coef_num_preschool_in_hh_work1,-2.930501,0.2191,0.0,NaN,NaN,0,,-2.930501
coef_num_preschool_in_hh_work2,0.225173,-0.1478,0.0,NaN,NaN,0,,0.225173
coef_num_preschool_in_hh_work_and_school,-29.197569,-0.1251,0.0,NaN,NaN,0,,-29.197569
coef_num_under_16_not_at_school_school2,-0.638293,0.0866,0.0,NaN,NaN,0,,-0.638293
coef_num_under_16_not_at_school_work2,-0.118991,0.1804,0.0,NaN,NaN,0,,-0.118991
coef_num_under_16_not_at_school_work_and_school,-15.357907,-0.1955,0.0,NaN,NaN,0,,-15.357907
coef_pre_driving_age_child_school2_asc,3.679726,-3.9703,0.0,NaN,NaN,0,,3.679726
coef_pt_worker_work2_asc,-4.743242,-3.0476,0.0,NaN,NaN,0,,-4.743242
coef_round_trip_auto_time_to_work_school2,0.064411,-0.0034,0.0,NaN,NaN,0,,0.064411
coef_round_trip_auto_time_to_work_work2,-0.025905,-0.0035,0.0,NaN,NaN,0,,-0.025905
coef_round_trip_auto_time_to_work_work_and_school,-0.021804,-0.0031,0.0,NaN,NaN,0,,-0.021804
coef_student_employed,13.457255,3.0140,0.0,NaN,NaN,0,,13.457255
coef_unavailable,-999.000000,-999.0000,0.0,NaN,NaN,1,,-999.000000
coef_under_35_school1,0.721800,0.7218,0.0,NaN,NaN,0,,0.721800
coef_under_35_school2,15.011164,1.2750,0.0,NaN,NaN,0,,15.011164
coef_under_35_work1,1.038242,-0.4629,0.0,NaN,NaN,0,,1.038242
coef_under_35_work2,-0.253875,-0.1375,0.0,NaN,NaN,0,,-0.253875
coef_under_35_work_and_school,2.257035,0.9761,0.0,NaN,NaN,0,,2.257035
coef_univ_school2_asc,-10.233810,-3.7429,0.0,NaN,NaN,0,,-10.233810
coef_univ_work1_asc,6.475896,2.1660,0.0,NaN,NaN,0,,6.475896
coef_univ_work2_asc,4.833029,-1.3965,0.0,NaN,NaN,0,,4.833029
coef_univ_work_and_school_asc,8.180927,0.1073,0.0,NaN,NaN,0,,8.180927

<ipython-input-7-5091d419e17b>:1: PossibleOverspecification: WARNING: Model is possibly over-specified (hessian is nearly singular).
  model.estimate()
/Users/jeffnewman/OneDrive - Cambridge Systematics/Git/larch/larch/linalg/__init__.py:18: UserWarning: minimum eig 1.771611294971759e-29 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")
<ipython-input-7-5091d419e17b>:1: RuntimeWarning: invalid value encountered in sqrt
  model.estimate()

┣                x: 0                                                      0.000000
┃                   coef_can_walk_to_work_and_school                       0.071630
┃                   coef_can_walk_to_work_school2                          1.368092
┃                   coef_can_walk_to_work_work2                            0.651120
┃                   coef_driving_age_child_school2_asc                   -13.067731
┃                   coef_driving_age_child_work_and_school_asc           -12.605997
┃                   coef_female_school1                                    0.247086
┃                   coef_female_school2                                   -0.301339
┃                   coef_female_work1                                     -2.242748
┃                   coef_female_work2                                     -0.387411
┃                   coef_female_work_and_school                           -3.218280
┃                   coef_few_cars_than_drivers_school2                    -0.862451
┃                   coef_ft_worker_work2_asc                              -5.517933
┃                   coef_hh_income_gt_50k_school1                          0.034700
┃                   coef_hh_income_gt_50k_student_work_and_school         -0.921175
┃                   coef_hh_income_gt_50k_work                            -1.418551
┃                   coef_hh_income_gt_50k_worker_work_and_school           0.034700
┃                   coef_home_urban_school1                               -0.136100
┃                   coef_home_urban_school2                               -8.455615
┃                   coef_home_urban_work1                                  4.026796
┃                   coef_home_urban_work2                                  2.624854
┃                   coef_home_urban_work_and_school                       -0.447070
┃                   coef_no_cars_in_hh_school2                            -0.620465
┃                   coef_no_cars_in_hh_work2                              -0.725967
┃                   coef_no_cars_in_hh_work_and_school                    -0.775934
┃                   coef_non_family_hh_category1                          -0.250000
┃                   coef_non_family_hh_category2                           5.000771
┃                   coef_non_student_goes_to_school                        3.883000
┃                   coef_num_non_workers_in_hh_school1                     0.257400
┃                   coef_num_preschool_in_hh_school1                      -0.133500
┃                   coef_num_preschool_in_hh_school2                       0.356660
┃                   coef_num_preschool_in_hh_work1                        -2.930501
┃                   coef_num_preschool_in_hh_work2                         0.225173
┃                   coef_num_preschool_in_hh_work_and_school             -29.197569
┃                   coef_num_under_16_not_at_school_school2               -0.638293
┃                   coef_num_under_16_not_at_school_work2                 -0.118991
┃                   coef_num_under_16_not_at_school_work_and_school      -15.357907
┃                   coef_pre_driving_age_child_school2_asc                 3.679726
┃                   coef_pt_worker_work2_asc                              -4.743242
┃                   coef_round_trip_auto_time_to_work_school2              0.064411
┃                   coef_round_trip_auto_time_to_work_work2               -0.025905
┃                   coef_round_trip_auto_time_to_work_work_and_school     -0.021804
┃                   coef_student_employed                                 13.457255
┃                   coef_unavailable                                    -999.000000
┃                   coef_under_35_school1                                  0.721800
┃                   coef_under_35_school2                                 15.011164
┃                   coef_under_35_work1                                    1.038242
┃                   coef_under_35_work2                                   -0.253875
┃                   coef_under_35_work_and_school                          2.257035
┃                   coef_univ_school2_asc                                -10.233810
┃                   coef_univ_work1_asc                                    6.475896
┃                   coef_univ_work2_asc                                    4.833029
┃                   coef_univ_work_and_school_asc                          8.180927
┃                   dtype: float64
┣          loglike: -410.2201502048449
┣        d_loglike: 0                                                    0.000000e+00
┃                   coef_can_walk_to_work_and_school                    -2.159761e-05
┃                   coef_can_walk_to_work_school2                       -7.694778e-05
┃                   coef_can_walk_to_work_work2                          4.202731e-05
┃                   coef_driving_age_child_school2_asc                  -4.255256e-08
┃                   coef_driving_age_child_work_and_school_asc           2.167724e-05
┃                   coef_female_school1                                 -6.957308e-05
┃                   coef_female_school2                                 -2.554309e-04
┃                   coef_female_work1                                   -7.357671e-05
┃                   coef_female_work2                                    8.686757e-05
┃                   coef_female_work_and_school                          1.188196e-05
┃                   coef_few_cars_than_drivers_school2                  -2.286678e-04
┃                   coef_ft_worker_work2_asc                             5.501466e-05
┃                   coef_hh_income_gt_50k_school1                        0.000000e+00
┃                   coef_hh_income_gt_50k_student_work_and_school        6.367109e-06
┃                   coef_hh_income_gt_50k_work                          -1.223654e-05
┃                   coef_hh_income_gt_50k_worker_work_and_school         0.000000e+00
┃                   coef_home_urban_school1                              0.000000e+00
┃                   coef_home_urban_school2                             -1.028755e-04
┃                   coef_home_urban_work1                               -4.465713e-05
┃                   coef_home_urban_work2                                1.557017e-04
┃                   coef_home_urban_work_and_school                      1.077213e-04
┃                   coef_no_cars_in_hh_school2                           8.945645e-05
┃                   coef_no_cars_in_hh_work2                             3.899664e-05
┃                   coef_no_cars_in_hh_work_and_school                  -3.695621e-05
┃                   coef_non_family_hh_category1                         0.000000e+00
┃                   coef_non_family_hh_category2                         1.251878e-10
┃                   coef_non_student_goes_to_school                      0.000000e+00
┃                   coef_num_non_workers_in_hh_school1                   0.000000e+00
┃                   coef_num_preschool_in_hh_school1                     0.000000e+00
┃                   coef_num_preschool_in_hh_school2                     3.508996e-05
┃                   coef_num_preschool_in_hh_work1                      -2.217197e-05
┃                   coef_num_preschool_in_hh_work2                       8.498540e-05
┃                   coef_num_preschool_in_hh_work_and_school            -3.475886e-12
┃                   coef_num_under_16_not_at_school_school2             -8.486532e-05
┃                   coef_num_under_16_not_at_school_work2               -3.959448e-05
┃                   coef_num_under_16_not_at_school_work_and_school     -2.351049e-07
┃                   coef_pre_driving_age_child_school2_asc               6.171829e-06
┃                   coef_pt_worker_work2_asc                             1.420463e-04
┃                   coef_round_trip_auto_time_to_work_school2           -4.638296e-03
┃                   coef_round_trip_auto_time_to_work_work2              3.215960e-03
┃                   coef_round_trip_auto_time_to_work_work_and_school    1.679772e-03
┃                   coef_student_employed                                2.170492e-05
┃                   coef_unavailable                                     0.000000e+00
┃                   coef_under_35_school1                                0.000000e+00
┃                   coef_under_35_school2                               -1.082319e-04
┃                   coef_under_35_work1                                 -9.399930e-05
┃                   coef_under_35_work2                                  7.788570e-05
┃                   coef_under_35_work_and_school                       -1.237585e-04
┃                   coef_univ_school2_asc                               -1.090048e-04
┃                   coef_univ_work1_asc                                 -4.465713e-05
┃                   coef_univ_work2_asc                                 -4.135926e-05
┃                   coef_univ_work_and_school_asc                        8.604407e-05
┃                   dtype: float64
┣              nit: 50
┣             nfev: 84
┣             njev: 50
┣           status: 0
┣          message: 'Optimization terminated successfully'
┣          success: True
┣     elapsed_time: datetime.timedelta(seconds=3, microseconds=886165)
┣           method: 'slsqp'
┣          n_cases: 2620
┣ iteration_number: 50
┣          logloss: 0.15657257641406294

### Estimated coefficients

In [8]:
model.parameter_summary()

# Output Estimation Results

In [9]:
from activitysim.estimation.larch import update_coefficients
result_dir = data.edb_directory/"estimated"
update_coefficients(
    model, data, result_dir,
    output_file=f"{modelname}_coefficients_revised.csv",
);

### Write the model estimation report, including coefficient t-statistic and log likelihood

In [10]:
model.to_xlsx(
    result_dir/f"{modelname}_model_estimation.xlsx", 
    data_statistics=False,
)

# Next Steps

The final step is to either manually or automatically copy the `*_coefficients_revised.csv` file to the configs folder, rename it to `*_coefficients.csv`, and run ActivitySim in simulation mode.

In [11]:
pd.read_csv(result_dir/f"{modelname}_coefficients_revised.csv")

                                     coefficient_name       value constrain
0                                    coef_unavailable -999.000000         T
1                            coef_ft_worker_work2_asc   -5.517933         F
2                            coef_pt_worker_work2_asc   -4.743242         F
3                                 coef_univ_work1_asc    6.475896         F
4                                 coef_univ_work2_asc    4.833029         F
5                               coef_univ_school2_asc  -10.233810         F
6                       coef_univ_work_and_school_asc    8.180927         F
7                  coef_driving_age_child_school2_asc  -13.067731         F
8          coef_driving_age_child_work_and_school_asc  -12.605997         F
9              coef_pre_driving_age_child_school2_asc    3.679726         F
10                                  coef_female_work1   -2.242748         F
11                                  coef_female_work2   -0.387411         F
12                                coef_female_school1    0.247086         F
13                                coef_female_school2   -0.301339         F
14                        coef_female_work_and_school   -3.218280         F
15                             coef_female_univ_work1    0.173700         F
16                                coef_under_35_work1    1.038242         F
17                                coef_under_35_work2   -0.253875         F
18                              coef_under_35_school1    0.721800         F
19                              coef_under_35_school2   15.011164         F
20                      coef_under_35_work_and_school    2.257035         F
21                        coef_can_walk_to_work_work2    0.651120         F
22                      coef_can_walk_to_work_school2    1.368092         F
23                   coef_can_walk_to_work_and_school    0.071630         F
24            coef_round_trip_auto_time_to_work_work2   -0.025905         F
25          coef_round_trip_auto_time_to_work_school2    0.064411         F
26  coef_round_trip_auto_time_to_work_work_and_school   -0.021804         F
27                              coef_student_employed   13.457255         F
28                    coef_non_student_goes_to_school    3.883000         F
29                           coef_no_cars_in_hh_work2   -0.725967         F
30                         coef_no_cars_in_hh_school2   -0.620465         F
31                 coef_no_cars_in_hh_work_and_school   -0.775934         F
32                 coef_few_cars_than_drivers_school2   -0.862451         F
33                     coef_num_preschool_in_hh_work1   -2.930501         F
34                     coef_num_preschool_in_hh_work2    0.225173         F
35                   coef_num_preschool_in_hh_school1   -0.133500         F
36                   coef_num_preschool_in_hh_school2    0.356660         F
37           coef_num_preschool_in_hh_work_and_school  -29.197569         F
38                 coef_num_non_workers_in_hh_school1    0.257400         F
39                         coef_hh_income_gt_50k_work   -1.418551         F
40                      coef_hh_income_gt_50k_school1    0.034700         F
41       coef_hh_income_gt_50k_worker_work_and_school    0.034700         F
42      coef_hh_income_gt_50k_student_work_and_school   -0.921175         F
43                       coef_non_family_hh_category1   -0.250000         F
44                       coef_non_family_hh_category2    5.000771         F
45              coef_num_under_16_not_at_school_work2   -0.118991       NaN
46            coef_num_under_16_not_at_school_school2   -0.638293       NaN
47    coef_num_under_16_not_at_school_work_and_school  -15.357907       NaN
48                              coef_home_urban_work1    4.026796       NaN
49                              coef_home_urban_work2    2.624854       NaN
50                            coef_home_urban_school1   -0.136100       NaN
51                            coef_home_urban_school2   -8.455615       NaN
52                    coef_home_urban_work_and_school   -0.447070       NaN