# Estimating Joint Tour Composition

This notebook illustrates how to re-estimate a single model component for ActivitySim.  This process 
includes running ActivitySim in estimation mode to read household travel survey files and write out
the estimation data bundles used in this notebook.  To review how to do so, please visit the other
notebooks in this directory.

# Load libraries

In [1]:
import os
import larch  # !conda install larch -c conda-forge # for estimation
import pandas as pd

We'll work in our `test` directory, where ActivitySim has saved the estimation data bundles.

In [2]:
os.chdir('test')

# Load data and prep model for estimation

In [3]:
modelname = "joint_tour_composition"

from activitysim.estimation.larch import component_model
model, data = component_model(modelname, return_data=True)

# Review data loaded from the EDB

The next step is to read the EDB, including the coefficients, model settings, utilities specification, and chooser and alternative data.

## Coefficients

In [4]:
data.coefficients

                                                       value constrain
coefficient_name
coef_unavailable                                   -999.0000         T
coef_asc_children                                     5.3517         F
coef_asc_mixed                                        5.6290        fF
coef_tour_purpose_is_eating_out_children             -0.9678         F
coef_tour_purpose_is_eating_out_mixed                -0.8027         F
coef_tour_purpose_is_discretionary_adults             0.7648         F
coef_tour_purpose_is_discretionary_children           0.5101         F
coef_number_of_full_time_workers_adults               1.0240         F
coef_number_of_full_time_workers_mixed                0.3624         F
coef_number_of_part_time_workers_adults               0.5412         F
coef_number_of_part_time_workers_mixed                0.3164         F
coef_number_of_university_students                    0.8245         F
coef_number_of_non_workers_adults                     0.6263         F
coef_number_of_non_workers_mixed                     -0.3724         F
coef_number_of_children_too_young_for_school_ch...    0.7306         F
coef_number_of_children_too_young_for_school_mixed    0.7906         F
coef_number_of_pre_driving_age_children_children      0.7306         F
coef_number_of_pre_driving_age_children_mixed         0.3532         F
coef_number_of_driving_age_children_children         -0.2667         F
coef_number_of_driving_age_children_mixed            -0.9399         F
coef_low_income_households_adults                     1.2480         F
coef_low_income_households_mixed                      0.5755         F
coef_medium_income_households                         0.8369         F
coef_household_has_more_cars_than_workers_adults      1.3860         F
coef_household_has_more_cars_than_workers_mixed       0.7510         F
coef_household_in_urban_area                          0.5741         F
coef_household_in_suburban_area_adults                0.5105         F
coef_household_in_suburban_area_mixed                 0.1283         F
coef_log_max_overlap_of_adults_time_windows           1.1920         F
coef_log_max_overlap_of_childrens_time_windows        1.8410         F
coef_log_max_overlap_of_time_windows                  1.9580         F

## Utility specification

In [5]:
data.spec

,Label,Description,Expression,adults,children,mixed
0,util_asc,Alternative-specific constant,1,NaN,coef_asc_children,coef_asc_mixed
1,util_tour_purpose_is_eating_out,Joint tour purpose is eating out (dummy),tour_type=='eat',NaN,coef_tour_purpose_is_eating_out_children,coef_tour_purpose_is_eating_out_mixed
2,util_tour_purpose_is_discretionary,Joint tour purpose is discretionary (dummy),tour_type=='disc',coef_tour_purpose_is_discretionary_adults,coef_tour_purpose_is_discretionary_children,NaN
3,util_number_of_full_time_workers,Number of Full-Time Workers in the household,num_full_max3,coef_number_of_full_time_workers_adults,NaN,coef_number_of_full_time_workers_mixed
4,util_number_of_part_time_workers,Number of Part-Time Workers in the household,num_part_max3,coef_number_of_part_time_workers_adults,NaN,coef_number_of_part_time_workers_mixed
5,util_number_of_university_students,Number of University students in the household,num_univ_max3,coef_number_of_university_students,NaN,NaN
6,util_number_of_non_workers,Number of Non-Workers in the household,num_nonwork_max3,coef_number_of_non_workers_adults,NaN,coef_number_of_non_workers_mixed
7,util_number_of_children_too_young_for_school,Number of Children too Young for School in the...,num_preschool_max3,NaN,coef_number_of_children_too_young_for_school_c...,coef_number_of_children_too_young_for_school_m...
8,util_number_of_pre_driving_age_children,Number of Pre-driving Age Children in the hous...,num_school_max3,NaN,coef_number_of_pre_driving_age_children_children,coef_number_of_pre_driving_age_children_mixed
9,util_number_of_driving_age_children,Number of Driving-age Children in the household,num_driving_max3,NaN,coef_number_of_driving_age_children_children,coef_number_of_driving_age_children_mixed
10,util_low_income_households,Low income households (dummy),income_in_thousands<30,coef_low_income_households_adults,NaN,coef_low_income_households_mixed
11,util_medium_income_households,Medium income households (dummy),(income_in_thousands>=30) & (income_in_thousan...,coef_medium_income_households,NaN,NaN
12,util_household_has_more_cars_than_workers,Household has more cars than workers (dummy),more_cars_than_workers,coef_household_has_more_cars_than_workers_adults,NaN,coef_household_has_more_cars_than_workers_mixed
13,util_household_in_urban_area,Household is located in an urban area type (du...,home_is_urban,coef_household_in_urban_area,NaN,NaN
14,util_household_in_suburban_area,Household is located in a suburban area type (...,~(home_is_urban | home_is_rural),coef_household_in_suburban_area_adults,NaN,coef_household_in_suburban_area_mixed
15,util_log_max_overlap_of_adults_time_windows,Log of max pair-wise overlap of household adul...,log_time_window_overlap_adult,coef_log_max_overlap_of_adults_time_windows,NaN,NaN
16,util_log_max_overlap_of_childrens_time_windows,Log of max pair-wise overlap of household chil...,log_time_window_overlap_child,NaN,coef_log_max_overlap_of_childrens_time_windows,NaN
17,util_log_max_overlap_of_time_windows,Log of max pair-wise overlap of household adul...,log_time_window_overlap_adult_child,NaN,NaN,coef_log_max_overlap_of_time_windows
18,util_two_acive_adults,Two adults must have Mand or Non Mand activity...,num_travel_active_adults<2,coef_unavailable,NaN,NaN
19,util_two_active_children,Two children must have Mand or Non Mand activi...,num_travel_active_children<2,NaN,coef_unavailable,NaN
20,util_travel_active_adult,At least one adult and at least one child must...,(num_travel_active_adults == 0) | (num_travel_...,NaN,NaN,coef_unavailable

## Chooser data

In [6]:
data.chooser_data

,tour_id,model_choice,override_choice,util_asc,util_tour_purpose_is_eating_out,util_tour_purpose_is_discretionary,util_number_of_full_time_workers,util_number_of_part_time_workers,util_number_of_university_students,util_number_of_non_workers,...,log_time_window_overlap_adult_child,num_full_max3,num_part_max3,num_univ_max3,num_nonwork_max3,num_preschool_max3,num_school_max3,num_driving_max3,more_cars_than_workers,override_choice_code
household_id,,,,,,,,,,,,,,,,,,,,,
189758,7785298,adults,adults,1.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.000,0.0,0.0,2.0,0.0,0.0,0.0,0.0,False,1
201016,8708454,adults,adults,1.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.000,0.0,0.0,2.0,0.0,0.0,0.0,0.0,False,1
213291,9715006,adults,adults,1.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.000,0.0,0.0,2.0,0.0,0.0,0.0,0.0,True,1
226902,10831112,adults,adults,1.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.000,0.0,0.0,2.0,0.0,0.0,0.0,0.0,False,1
337259,20334787,mixed,mixed,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,2.197,1.0,0.0,0.0,1.0,1.0,0.0,0.0,False,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2628704,283676518,mixed,mixed,1.0,0.0,0.0,3.0,0.0,0.0,0.0,...,2.398,3.0,0.0,0.0,0.0,2.0,0.0,0.0,False,3
2678969,295260168,adults,adults,1.0,0.0,0.0,3.0,1.0,0.0,3.0,...,2.080,3.0,1.0,0.0,3.0,1.0,0.0,0.0,False,1
2704338,297646485,adults,adults,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,1
2718585,298814741,adults,adults,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,False,1
2744529,301810980,adults,adults,1.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.000,2.0,0.0,0.0,0.0,0.0,0.0,0.0,False,1

# Estimate

With the model setup for estimation, the next step is to estimate the model coefficients.  Make sure to use a sufficiently large enough household sample and set of zones to avoid an over-specified model, which does not have a numerically stable likelihood maximizing solution.  Larch has a built-in estimation methods including BHHH, and also offers access to more advanced general purpose non-linear optimizers in the `scipy` package, including SLSQP, which allows for bounds and constraints on parameters.  BHHH is the default and typically runs faster, but does not follow constraints on parameters.

In [7]:
model.estimate(method='SLSQP')

req_data does not request avail_ca or avail_co but it is set and being provided

,value,initvalue,nullvalue,minimum,maximum,holdfast,note,best
coef_asc_children,121.627746,5.3517,0.0,NaN,NaN,0,,121.627746
coef_asc_mixed,-88.249613,5.6290,0.0,NaN,NaN,0,,-88.249613
coef_household_has_more_cars_than_workers_adults,-40.894264,1.3860,0.0,NaN,NaN,0,,-40.894264
coef_household_has_more_cars_than_workers_mixed,153.815203,0.7510,0.0,NaN,NaN,0,,153.815203
coef_household_in_suburban_area_adults,0.510500,0.5105,0.0,NaN,NaN,0,,0.510500
coef_household_in_suburban_area_mixed,0.128300,0.1283,0.0,NaN,NaN,0,,0.128300
coef_household_in_urban_area,-21.823334,0.5741,0.0,NaN,NaN,0,,-21.823334
coef_log_max_overlap_of_adults_time_windows,-36.285976,1.1920,0.0,NaN,NaN,0,,-36.285976
coef_log_max_overlap_of_childrens_time_windows,283.696667,1.8410,0.0,NaN,NaN,0,,283.696667
coef_log_max_overlap_of_time_windows,196.728573,1.9580,0.0,NaN,NaN,0,,196.728573
coef_low_income_households_adults,-16.894954,1.2480,0.0,NaN,NaN,0,,-16.894954
coef_low_income_households_mixed,-3.143593,0.5755,0.0,NaN,NaN,0,,-3.143593
coef_medium_income_households,-161.727385,0.8369,0.0,NaN,NaN,0,,-161.727385
coef_number_of_children_too_young_for_school_children,-110.048280,0.7306,0.0,NaN,NaN,0,,-110.048280
coef_number_of_children_too_young_for_school_mixed,9.539326,0.7906,0.0,NaN,NaN,0,,9.539326
coef_number_of_driving_age_children_children,-172.311937,-0.2667,0.0,NaN,NaN,0,,-172.311937
coef_number_of_driving_age_children_mixed,184.761407,-0.9399,0.0,NaN,NaN,0,,184.761407
coef_number_of_full_time_workers_adults,185.490311,1.0240,0.0,NaN,NaN,0,,185.490311
coef_number_of_full_time_workers_mixed,50.943193,0.3624,0.0,NaN,NaN,0,,50.943193
coef_number_of_non_workers_adults,40.041010,0.6263,0.0,NaN,NaN,0,,40.041010
coef_number_of_non_workers_mixed,-96.438666,-0.3724,0.0,NaN,NaN,0,,-96.438666
coef_number_of_part_time_workers_adults,47.088158,0.5412,0.0,NaN,NaN,0,,47.088158
coef_number_of_part_time_workers_mixed,58.958712,0.3164,0.0,NaN,NaN,0,,58.958712
coef_number_of_pre_driving_age_children_children,12.678858,0.7306,0.0,NaN,NaN,0,,12.678858
coef_number_of_pre_driving_age_children_mixed,158.960267,0.3532,0.0,NaN,NaN,0,,158.960267
coef_number_of_university_students,-5.007830,0.8245,0.0,NaN,NaN,0,,-5.007830
coef_tour_purpose_is_discretionary_adults,0.764800,0.7648,0.0,NaN,NaN,0,,0.764800
coef_tour_purpose_is_discretionary_children,0.510100,0.5101,0.0,NaN,NaN,0,,0.510100
coef_tour_purpose_is_eating_out_children,-0.967800,-0.9678,0.0,NaN,NaN,0,,-0.967800
coef_tour_purpose_is_eating_out_mixed,-0.802700,-0.8027,0.0,NaN,NaN,0,,-0.802700
coef_unavailable,-999.000000,-999.0000,0.0,NaN,NaN,1,,-999.000000

<ipython-input-7-12921b4967da>:1: PossibleOverspecification: WARNING: Model is possibly over-specified (hessian is nearly singular).
  model.estimate(method='SLSQP')
/Users/jeffnewman/OneDrive - Cambridge Systematics/Git/larch/larch/linalg/__init__.py:18: UserWarning: minimum eig 0.0 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")
<ipython-input-7-12921b4967da>:1: RuntimeWarning: invalid value encountered in sqrt
  model.estimate(method='SLSQP')

â”£                x: coef_asc_children                                        121.627746
â”ƒ                   coef_asc_mixed                                           -88.249613
â”ƒ                   coef_household_has_more_cars_than_workers_adults         -40.894264
â”ƒ                   coef_household_has_more_cars_than_workers_mixed          153.815203
â”ƒ                   coef_household_in_suburban_area_adults                     0.510500
â”ƒ                   coef_household_in_suburban_area_mixed                      0.128300
â”ƒ                   coef_household_in_urban_area                             -21.823334
â”ƒ                   coef_log_max_overlap_of_adults_time_windows              -36.285976
â”ƒ                   coef_log_max_overlap_of_childrens_time_windows           283.696667
â”ƒ                   coef_log_max_overlap_of_time_windows                     196.728573
â”ƒ                   coef_low_income_households_adults                        -16.894954
â”ƒ                   coef_low_income_households_mixed                          -3.143593
â”ƒ                   coef_medium_income_households                           -161.727385
â”ƒ                   coef_number_of_children_too_young_for_school_children   -110.048280
â”ƒ                   coef_number_of_children_too_young_for_school_mixed         9.539326
â”ƒ                   coef_number_of_driving_age_children_children            -172.311937
â”ƒ                   coef_number_of_driving_age_children_mixed                184.761407
â”ƒ                   coef_number_of_full_time_workers_adults                  185.490311
â”ƒ                   coef_number_of_full_time_workers_mixed                    50.943193
â”ƒ                   coef_number_of_non_workers_adults                         40.041010
â”ƒ                   coef_number_of_non_workers_mixed                         -96.438666
â”ƒ                   coef_number_of_part_time_workers_adults                   47.088158
â”ƒ                   coef_number_of_part_time_workers_mixed                    58.958712
â”ƒ                   coef_number_of_pre_driving_age_children_children          12.678858
â”ƒ                   coef_number_of_pre_driving_age_children_mixed            158.960267
â”ƒ                   coef_number_of_university_students                        -5.007830
â”ƒ                   coef_tour_purpose_is_discretionary_adults                  0.764800
â”ƒ                   coef_tour_purpose_is_discretionary_children                0.510100
â”ƒ                   coef_tour_purpose_is_eating_out_children                  -0.967800
â”ƒ                   coef_tour_purpose_is_eating_out_mixed                     -0.802700
â”ƒ                   coef_unavailable                                        -999.000000
â”ƒ                   dtype: float64
â”£          loglike: -9.786597596036862e-07
â”£        d_loglike: coef_asc_children                                        -1.199240e-06
â”ƒ                   coef_asc_mixed                                            1.199240e-06
â”ƒ                   coef_household_has_more_cars_than_workers_adults        -7.697895e-122
â”ƒ                   coef_household_has_more_cars_than_workers_mixed           2.677106e-09
â”ƒ                   coef_household_in_suburban_area_adults                    0.000000e+00
â”ƒ                   coef_household_in_suburban_area_mixed                     0.000000e+00
â”ƒ                   coef_household_in_urban_area                             -1.311061e-38
â”ƒ                   coef_log_max_overlap_of_adults_time_windows              -2.551704e-38
â”ƒ                   coef_log_max_overlap_of_childrens_time_windows           -2.523891e-06
â”ƒ                   coef_log_max_overlap_of_time_windows                      2.726540e-06
â”ƒ                   coef_low_income_households_adults                        -4.843014e-79
â”ƒ                   coef_low_income_households_mixed                          4.440892e-16
â”ƒ                   coef_medium_income_households                            -1.620456e-77
â”ƒ                   coef_number_of_children_too_young_for_school_children     8.759917e-08
â”ƒ                   coef_number_of_children_too_young_for_school_mixed       -8.759917e-08
â”ƒ                   coef_number_of_driving_age_children_children             -2.272077e-16
â”ƒ                   coef_number_of_driving_age_children_mixed                 4.440892e-16
â”ƒ                   coef_number_of_full_time_workers_adults                  -3.933184e-38
â”ƒ                   coef_number_of_full_time_workers_mixed                    2.196009e-06
â”ƒ                   coef_number_of_non_workers_adults                        -4.909798e-77
â”ƒ                   coef_number_of_non_workers_mixed                          2.677106e-09
â”ƒ                   coef_number_of_part_time_workers_adults                  -1.620456e-77
â”ƒ                   coef_number_of_part_time_workers_mixed                   -8.759917e-08
â”ƒ                   coef_number_of_pre_driving_age_children_children         -2.486079e-06
â”ƒ                   coef_number_of_pre_driving_age_children_mixed             2.486079e-06
â”ƒ                   coef_number_of_university_students                      -2.474369e-317
â”ƒ                   coef_tour_purpose_is_discretionary_adults                 0.000000e+00
â”ƒ                   coef_tour_purpose_is_discretionary_children               0.000000e+00
â”ƒ                   coef_tour_purpose_is_eating_out_children                  0.000000e+00
â”ƒ                   coef_tour_purpose_is_eating_out_mixed                     0.000000e+00
â”ƒ                   coef_unavailable                                          0.000000e+00
â”ƒ                   dtype: float64
â”£              nit: 33
â”£             nfev: 39
â”£             njev: 33
â”£           status: 0
â”£          message: 'Optimization terminated successfully'
â”£          success: True
â”£     elapsed_time: datetime.timedelta(microseconds=266490)
â”£           method: 'SLSQP'
â”£          n_cases: 91
â”£ iteration_number: 33
â”£          logloss: 1.075450285278776e-08

*Note that in the example data for this model, there are only 91 joint tours, which an is insufficient
number of observations to successfully estimate all 31 parameters in this model.*

### Estimated coefficients

In [8]:
model.parameter_summary()

# Output Estimation Results

In [9]:
from activitysim.estimation.larch import update_coefficients
result_dir = data.edb_directory/"estimated"
update_coefficients(
    model, data, result_dir,
    output_file=f"{modelname}_coefficients_revised.csv",
);

### Write the model estimation report, including coefficient t-statistic and log likelihood

In [10]:
model.to_xlsx(
    result_dir/f"{modelname}_model_estimation.xlsx", 
    data_statistics=False,
)

# Next Steps

The final step is to either manually or automatically copy the `*_coefficients_revised.csv` file to the configs folder, rename it to `*_coefficients.csv`, and run ActivitySim in simulation mode.

In [11]:
pd.read_csv(result_dir/f"{modelname}_coefficients_revised.csv")

                                     coefficient_name       value constrain
0                                    coef_unavailable -999.000000         T
1                                   coef_asc_children  121.627746         F
2                                      coef_asc_mixed  -88.249613        fF
3            coef_tour_purpose_is_eating_out_children   -0.967800         F
4               coef_tour_purpose_is_eating_out_mixed   -0.802700         F
5           coef_tour_purpose_is_discretionary_adults    0.764800         F
6         coef_tour_purpose_is_discretionary_children    0.510100         F
7             coef_number_of_full_time_workers_adults  185.490311         F
8              coef_number_of_full_time_workers_mixed   50.943193         F
9             coef_number_of_part_time_workers_adults   47.088158         F
10             coef_number_of_part_time_workers_mixed   58.958712         F
11                 coef_number_of_university_students   -5.007830         F
12                  coef_number_of_non_workers_adults   40.041010         F
13                   coef_number_of_non_workers_mixed  -96.438666         F
14  coef_number_of_children_too_young_for_school_c... -110.048280         F
15  coef_number_of_children_too_young_for_school_m...    9.539326         F
16   coef_number_of_pre_driving_age_children_children   12.678858         F
17      coef_number_of_pre_driving_age_children_mixed  158.960267         F
18       coef_number_of_driving_age_children_children -172.311937         F
19          coef_number_of_driving_age_children_mixed  184.761407         F
20                  coef_low_income_households_adults  -16.894954         F
21                   coef_low_income_households_mixed   -3.143593         F
22                      coef_medium_income_households -161.727385         F
23   coef_household_has_more_cars_than_workers_adults  -40.894264         F
24    coef_household_has_more_cars_than_workers_mixed  153.815203         F
25                       coef_household_in_urban_area  -21.823334         F
26             coef_household_in_suburban_area_adults    0.510500         F
27              coef_household_in_suburban_area_mixed    0.128300         F
28        coef_log_max_overlap_of_adults_time_windows  -36.285976         F
29     coef_log_max_overlap_of_childrens_time_windows  283.696667         F
30               coef_log_max_overlap_of_time_windows  196.728573         F