# Estimating Stop Frequency

This notebook illustrates how to re-estimate a single model component for ActivitySim.  This process 
includes running ActivitySim in estimation mode to read household travel survey files and write out
the estimation data bundles used in this notebook.  To review how to do so, please visit the other
notebooks in this directory.

# Load libraries

In [1]:
import os
import larch  # !conda install larch -c conda-forge # for estimation
import pandas as pd

We'll work in our `test` directory, where ActivitySim has saved the estimation data bundles.

In [2]:
os.chdir('test')

# Load data and prep model for estimation

In [3]:
modelname = "stop_frequency"

from activitysim.estimation.larch import component_model
model, data = component_model(modelname, return_data=True)

/Users/jeffnewman/OneDrive - Cambridge Systematics/Git/activitysim/activitysim/estimation/larch/general.py:321: UserWarning: coefficient dataframe missing 'constrain' column, setting all to 'F'
  warnings.warn("coefficient dataframe missing 'constrain' column, setting all to 'F'")

# Review data loaded from the EDB

The next step is to read the EDB, including the coefficients, model settings, utilities specification, and chooser and alternative data.

In [4]:
spec_segments = [i.primary_purpose for i in data.settings.SPEC_SEGMENTS]
spec_segments

['work',
 'school',
 'univ',
 'social',
 'shopping',
 'eatout',
 'escort',
 'othmaint',
 'othdiscr',
 'atwork']

## Coefficients

There is one meta-coefficients dataframe for this component, which contains
parameters for all the matching coefficients in the various segmented 
files. When different segments have the same named coefficient with the same
value, it is assumed they should be estimated jointly.  If they have the same name
but different values in the coefficient files, then they are re-estimated
independently.

In [5]:
data.coefficients

                                                    value constrain
coefficient_name
coef_middle_to_low_income_hh                        0.170         F
coef_mid_to_high_income_hh                          0.230         F
coef_high_income_hh                                 0.240         F
coef_number_of_hh_persons                          -0.310         F
coef_number_of_students_in_hh                       0.210         F
...                                                   ...       ...
coef_alternative_specific_constant_for_return_s... -6.210         F
coef_alternative_specific_constant_for_outbound... -3.896         F
coef_alternative_specific_constant_for_the_tota...  2.127         F
coef_alternative_specific_constant_for_outbound... -5.709         F
coef_alternative_specific_constant_for_outbound... -7.361         F

[188 rows x 2 columns]

## Utility specification

The utility spec files are unique to each segment model.  The estimation mode larch pre-processor
for the stop frequency model modifies the spec files to account for jointly re-estimated
parameters.

In [6]:
data.spec[0]

,Label,Description,Expression,0out_0in,0out_1in,0out_2in,0out_3in,1out_0in,1out_1in,1out_2in,1out_3in,2out_0in,2out_1in,2out_2in,2out_3in,3out_0in,3out_1in,3out_2in,3out_3in
0,util_middle_to_low_income_hh,Middle to Low Income HH,(income_in_thousands>19999) & (income_in_thous...,NaN,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh,coef_middle_to_low_income_hh
1,util_mid_to_high_income_hh,Mid to High Income HH,(income_in_thousands>=50000) & (income_in_thou...,NaN,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh,coef_mid_to_high_income_hh
2,util_high_income_hh,High Income HH,(income_in_thousands>=100000),NaN,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh,coef_high_income_hh
3,util_number_of_hh_persons,Number of HH Persons,hhsize,NaN,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons,coef_number_of_hh_persons
4,util_number_of_full_time_workers_in_hh,Number of full time workers in HH,num_full,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,util_number_of_students_in_hh,Number of Students in HH,num_student,NaN,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh,coef_number_of_students_in_hh
6,util_num_kids_between_0_and_4_including_years_old,Num Kids between 0 and 4 (including) years old,num_age_0_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,util_presence_of_kids_between_0_and_4_includin...,Presence of Kids between 0 and 4 (including) y...,(num_age_0_4 > 0),NaN,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...,coef_presence_of_kids_between_0_and_4_includin...
8,util_num_kids_between_5_and_15_including_years...,Num kids between 5 and 15 (including) years old,num_age_5_15,NaN,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...,coef_num_kids_between_5_and_15_including_years...
9,util_presence_of_kids_between_5_and_15_includi...,Presence of kids between 5 and 15 (including) ...,(num_age_5_15 > 0),NaN,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...,coef_presence_of_kids_between_5_and_15_includi...
10,util_number_of_adults_16_years_old_,Number of Adults (>= 16 years old),num_adult,NaN,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_,coef_number_of_adults_16_years_old_
11,util_dummy_for_single_parent_household,Dummy for single parent household,(num_adult == 1) & (num_age_0_4 + num_age_5_15...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,util_number_of_cars_number_of_workers,Number of Cars > Number of Workers,more_cars_than_workers,NaN,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers,coef_number_of_cars_number_of_workers
13,util_number_of_vehicles,Number of Vehicles,auto_ownership,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,util_dummy_for_female,Dummy for female,female,NaN,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female,coef_dummy_for_female
15,util_dummy_for_all_stops_made_by_transit,Dummy for all stops made by transit,tour_mode_is_transit,NaN,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit,coef_dummy_for_all_stops_made_by_transit
16,util_dummy_for_walking_to_all_stops,Dummy for walking to all stops,tour_mode_is_non_motorized,NaN,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops,coef_dummy_for_walking_to_all_stops
17,util_number_of_work_tours_undertaken_by_the_pe...,Number of work tours undertaken by the person,num_work_tours,NaN,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...,coef_number_of_work_tours_undertaken_by_the_pe...
18,util_number_of_university_tours_tours_undertak...,Number of university tours tours undertaken by...,num_univ_tours,NaN,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...,coef_number_of_university_tours_tours_undertak...
19,util_number_of_school_tours_tours_undertaken_b...,Number of school tours tours undertaken by the...,num_school_tours,NaN,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...,coef_number_of_school_tours_tours_undertaken_b...
20,util_number_of_escort_tours_tours_undertaken_b...,Number of escort tours tours undertaken by the...,num_escort_tours,NaN,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...,coef_number_of_escort_tours_tours_undertaken_b...
21,util_number_of_shop_tours_undertaken_by_the_pe...,Number of shop tours undertaken by the person,num_shop_tours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,util_number_of_maintenace_tours_tours_undertak...,Number of maintenace tours tours undertaken by...,num_maint_tours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,util_number_of_eating_tours_tours_undertaken_b...,Number of eating tours tours undertaken by the...,num_eatout_tours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,util_number_of_visit_tours_tours_undertaken_by...,Number of visit tours tours undertaken by the ...,num_social_tours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,util_number_of_shop_tours_undertaken_by_the_ho...,Number of shop tours undertaken by the houshold,num_hh_shop_tours,NaN,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...,coef_number_of_shop_tours_undertaken_by_the_ho...
26,util_am_peak_departure_between_6am_and_7_am_in...,AM Peak departure between 6AM and 7 AM (includ...,(start>5) & (start<8),NaN,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...,coef_am_peak_departure_between_6am_and_7_am_in...
27,util_arrival_later_than_17_00_,Arrival later than 17:00.,(end > 16),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,util_evening_arrival_19_00_interacted_with_ret...,Evening Arrival (>=19:00) Interacted with retu...,(end > 18),NaN,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...,coef_evening_arrival_19_00_interacted_with_ret...
29,util_dummy_for_the_duration_of_the_tour_being_...,Dummy for the duration of the tour being equal...,(duration > 10),NaN,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...,coef_dummy_for_the_duration_of_the_tour_being_...
30,util_dummy_for_the_duration_of_the_tour_being_...,Dummy for the duration of the tour being equal...,(duration > 8),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,util_dummy_for_the_duration_of_the_tour_being_...,Dummy for the duration of the tour being equal...,(duration > 2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,util_hh_accesibility_for_outbound_tours_intera...,HH accesibility for outbound tours. Interaction,hhacc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,util_hh_accesibility_for_inbound_tours_interac...,HH accesibility for inbound tours. Interaction,hhacc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,util_primary_destination_accessibility_for_out...,Primary Destination Accessibility for outbound...,pracc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,util_primary_destination_accessibility_for_ret...,Primary Destination Accessibility for return t...,pracc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,util_dummy_for_distance_less_than_20_miles,dummy for distance less than 20 Miles,(distance_in_miles < 20),NaN,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles,coef_dummy_for_distance_less_than_20_miles
37,util_dummy_for_distance_in_miles,dummy for distance in miles,distance_in_miles,NaN,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles,coef_dummy_for_distance_in_miles
38,util_no_stops_if_tour_mode_is_drivetransit,No stops if tour mode is driveTransit,tour_mode_is_drive_transit,NaN,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit,coef_no_stops_if_tour_mode_is_drivetransit

## Chooser data

The chooser data is unique to each segment model.

In [7]:
data.chooser_data[0]

,model_choice,override_choice,util_middle_to_low_income_hh,util_mid_to_high_income_hh,util_high_income_hh,util_number_of_hh_persons,util_number_of_full_time_workers_in_hh,util_number_of_students_in_hh,util_num_kids_between_0_and_4_including_years_old,util_presence_of_kids_between_0_and_4_including_years_old,...,tour_mode_is_drive_transit,tour_mode_is_non_motorized,num_school_tours,num_univ_tours,num_atwork_subtours,num_hh_shop_tours,num_hh_maint_tours,hhacc,pracc,destination_area_type
tour_id,,,,,,,,,,,,,,,,,,,,,
2961920,0out_0in,0out_0in,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,False,False,0,0,0,0,0,6.859067,7.751024,0
2970120,2out_1in,2out_1in,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,False,False,0,0,0,0,0,0.000000,0.000000,1
2998943,0out_0in,0out_0in,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,False,False,0,0,1,0,0,6.024261,7.519040,2
3013252,0out_0in,0out_0in,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,False,False,0,0,0,0,0,5.672122,6.595380,1
3015794,0out_0in,0out_0in,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,False,False,0,0,0,0,0,6.252582,5.865708,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308070309,0out_0in,0out_0in,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,False,True,0,0,0,0,0,8.181251,8.326834,0
308073875,1out_0in,1out_0in,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,False,False,0,0,0,0,0,0.000000,0.000000,2
308090603,0out_0in,0out_0in,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,False,False,0,0,0,0,0,7.629996,7.282405,1
308105896,0out_0in,0out_0in,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,False,False,0,0,0,0,0,7.149388,6.679189,2
308122624,0out_0in,0out_0in,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,False,False,0,0,0,0,0,5.117139,7.355598,0

# Estimate

With the model setup for estimation, the next step is to estimate the model coefficients.  Make sure to use a sufficiently large enough household sample and set of zones to avoid an over-specified model, which does not have a numerically stable likelihood maximizing solution.  Larch has a built-in estimation methods including BHHH, and also offers access to more advanced general purpose non-linear optimizers in the `scipy` package, including SLSQP, which allows for bounds and constraints on parameters.  BHHH is the default and typically runs faster, but does not follow constraints on parameters.

In [8]:
model.estimate(method='SLSQP', options={"maxiter": 1000})

req_data does not request avail_ca or avail_co but it is set and being provided
req_data does not request avail_ca or avail_co but it is set and being provided
req_data does not request avail_ca or avail_co but it is set and being provided
req_data does not request avail_ca or avail_co but it is set and being provided
req_data does not request avail_ca or avail_co but it is set and being provided
req_data does not request avail_ca or avail_co but it is set and being provided
req_data does not request avail_ca or avail_co but it is set and being provided
req_data does not request avail_ca or avail_co but it is set and being provided
req_data does not request avail_ca or avail_co but it is set and being provided
req_data does not request avail_ca or avail_co but it is set and being provided

,value,initvalue,nullvalue,minimum,maximum,holdfast,note,best
-2.139,-2.139000,-2.139,-2.139,-2.139,-2.139,1,,-2.139000
-3.934,-3.934000,-3.934,-3.934,-3.934,-3.934,1,,-3.934000
coef_alternative_specific_constant_for_outbound_stops_1out_0in,-0.741225,-0.833,0.000,NaN,NaN,0,,-0.741225
coef_alternative_specific_constant_for_outbound_stops_2out_0in,-2.594489,-2.613,0.000,NaN,NaN,0,,-2.594489
coef_alternative_specific_constant_for_return_stops_0out_1in,-0.447476,-0.445,0.000,NaN,NaN,0,,-0.447476
...,...,...,...,...,...,...,...,...
coef_primary_destination_accessibility_log_of_it_,0.170704,0.180,0.000,NaN,NaN,0,,0.170704
coef_subtour_departure_less_than_or_equal_to_11am,0.266339,0.310,0.000,NaN,NaN,0,,0.266339
coef_subtour_distance_in_miles_from_tour_destination_to_subtour_primary_destination_one_way_,-0.152384,0.020,0.000,NaN,NaN,0,,-0.152384
coef_subtour_duration_in_hours_integer_,0.681811,0.560,0.000,NaN,NaN,0,,0.681811
coef_subtour_return_time_greater_or_equal_to_2pm,1.549569,0.340,0.000,NaN,NaN,0,,1.549569

<ipython-input-8-c0c5a8a8ae55>:1: PossibleOverspecification: WARNING: Model is possibly over-specified (hessian is nearly singular).
  model.estimate(method='SLSQP', options={"maxiter": 1000})
/Users/jeffnewman/OneDrive - Cambridge Systematics/Git/larch/larch/linalg/__init__.py:18: UserWarning: minimum eig 3.0254868525048906e-31 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")

â”£                x: -2.139                                                                                         -2.139000
â”ƒ                   -3.934                                                                                         -3.934000
â”ƒ                   coef_alternative_specific_constant_for_outbound_stops_1out_0in                                 -0.741225
â”ƒ                   coef_alternative_specific_constant_for_outbound_stops_2out_0in                                 -2.594489
â”ƒ                   coef_alternative_specific_constant_for_return_stops_0out_1in                                   -0.447476
â”ƒ                                                                                                                     ...
â”ƒ                   coef_primary_destination_accessibility_log_of_it_                                               0.170704
â”ƒ                   coef_subtour_departure_less_than_or_equal_to_11am                                               0.266339
â”ƒ                   coef_subtour_distance_in_miles_from_tour_destination_to_subtour_primary_destination_one_way_   -0.152384
â”ƒ                   coef_subtour_duration_in_hours_integer_                                                         0.681811
â”ƒ                   coef_subtour_return_time_greater_or_equal_to_2pm                                                1.549569
â”ƒ                   Length: 188, dtype: float64
â”£          loglike: -6094.555918549999
â”£        d_loglike: -2.139                                                                                          0.000000
â”ƒ                   -3.934                                                                                          0.000000
â”ƒ                   coef_alternative_specific_constant_for_outbound_stops_1out_0in                                 -0.000080
â”ƒ                   coef_alternative_specific_constant_for_outbound_stops_2out_0in                                 -0.000716
â”ƒ                   coef_alternative_specific_constant_for_return_stops_0out_1in                                   -0.000063
â”ƒ                                                                                                                     ...
â”ƒ                   coef_primary_destination_accessibility_log_of_it_                                              -0.003978
â”ƒ                   coef_subtour_departure_less_than_or_equal_to_11am                                              -0.000790
â”ƒ                   coef_subtour_distance_in_miles_from_tour_destination_to_subtour_primary_destination_one_way_   -0.004153
â”ƒ                   coef_subtour_duration_in_hours_integer_                                                        -0.002149
â”ƒ                   coef_subtour_return_time_greater_or_equal_to_2pm                                                0.000154
â”ƒ                   Length: 188, dtype: float64
â”£              nit: 130
â”£             nfev: 327
â”£             njev: 130
â”£           status: 0
â”£          message: 'Optimization terminated successfully'
â”£          success: True
â”£     elapsed_time: datetime.timedelta(seconds=85, microseconds=611724)
â”£           method: 'SLSQP'
â”£          n_cases: 5778
â”£ iteration_number: 130
â”£          logloss: 1.0547864171945307

### Estimated coefficients

In [9]:
model.parameter_summary()

# Output Estimation Results

The stop frequency model include seperate coefficient file for each segment,
and has a special writer method to seperate the coefficient by segment
after estimation.

In [10]:
from activitysim.estimation.larch.stop_frequency import update_segment_coefficients
result_dir = data.edb_directory/"estimated"
update_segment_coefficients(
    model, data, result_dir,
    output_file="stop_frequency_coefficients_{segment_name}_revised.csv",
);

### Write the model estimation report, including coefficient t-statistic and log likelihood

In [11]:
for m, segment in zip(model, data.segments):
    m.to_xlsx(
        result_dir/f"{modelname}_{segment}_model_estimation.xlsx", 
        data_statistics=False,
    )

# Next Steps

The final step is to either manually or automatically copy the `stop_frequency_coefficients_*_revised.csv` files to the configs folder, rename them to `stop_frequency_coefficients_*.csv`, and run ActivitySim in simulation mode.

In [12]:
pd.read_csv(result_dir/"stop_frequency_coefficients_work_revised.csv")

,coefficient_name,Description,value
0,coef_middle_to_low_income_hh,Middle to Low Income HH,0.170000
1,coef_mid_to_high_income_hh,Mid to High Income HH,0.230000
2,coef_high_income_hh,High Income HH,0.240000
3,coef_number_of_hh_persons,Number of HH Persons,-0.328159
4,coef_number_of_students_in_hh,Number of Students in HH,0.315297
5,coef_presence_of_kids_between_0_and_4_includin...,Presence of Kids between 0 and 4 (including) y...,0.557476
6,coef_num_kids_between_5_and_15_including_years...,Num kids between 5 and 15 (including) years old,0.089718
7,coef_presence_of_kids_between_5_and_15_includi...,Presence of kids between 5 and 15 (including) ...,0.117544
8,coef_number_of_adults_16_years_old_,Number of Adults (>= 16 years old),0.074203
9,coef_number_of_cars_number_of_workers,Number of Cars > Number of Workers,-0.065713
10,coef_dummy_for_female,Dummy for female,0.282632
11,coef_dummy_for_all_stops_made_by_transit,Dummy for all stops made by transit,-0.672704
12,coef_dummy_for_walking_to_all_stops,Dummy for walking to all stops,-1.491072
13,coef_number_of_work_tours_undertaken_by_the_pe...,Number of work tours undertaken by the person,-0.174762
14,coef_number_of_university_tours_tours_undertak...,Number of university tours tours undertaken by...,-0.480000
15,coef_number_of_school_tours_tours_undertaken_b...,Number of school tours tours undertaken by the...,0.130473
16,coef_number_of_escort_tours_tours_undertaken_b...,Number of escort tours tours undertaken by the...,0.097792
17,coef_number_of_shop_tours_undertaken_by_the_ho...,Number of shop tours undertaken by the houshold,-0.328294
18,coef_am_peak_departure_between_6am_and_7_am_in...,AM Peak departure between 6AM and 7 AM (includ...,-1.998832
19,coef_evening_arrival_19_00_interacted_with_ret...,Evening Arrival (>=19:00) Interacted with retu...,0.606441
20,coef_dummy_for_the_duration_of_the_tour_being_...,Dummy for the duration of the tour being equal...,0.713048
21,coef_dummy_for_distance_less_than_20_miles,dummy for distance less than 20 Miles,-0.588175
22,coef_dummy_for_distance_in_miles,dummy for distance in miles,0.043974
23,coef_no_stops_if_tour_mode_is_drivetransit,No stops if tour mode is driveTransit,-999.000000
24,coef_alternative_specific_constant_for_return_...,Alternative specific constant for return stops,-0.447476
25,coef_number_of_subtours_in_the_tour,Number of subtours in the tour,0.337091
26,coef_alternative_specific_constant_for_return_...,Alternative specific constant for return stops,-1.657817
27,coef_alternative_specific_constant_for_the_tot...,Alternative specific constant for the total nu...,0.039441
28,coef_alternative_specific_constant_for_return_...,Alternative specific constant for return stops,-2.139000
29,coef_alternative_specific_constant_for_outboun...,Alternative specific constant for outbound stops,-0.741225
30,coef_alternative_specific_constant_for_outboun...,Alternative specific constant for outbound stops,-2.594489
31,coef_alternative_specific_constant_for_the_tot...,Alternative specific constant for the total nu...,0.754748
32,coef_alternative_specific_constant_for_outboun...,Alternative specific constant for outbound stops,-3.934000