# Estimating School Location

This notebook illustrates how to re-estimate ActivitySim's auto ownership model.  The steps in the process are:
  - Run ActivitySim in estimation mode to read household travel survey files, run the ActivitySim submodels to write estimation data bundles (EDB) that contains the model utility specifications, coefficients, chooser data, and alternatives data for each submodel.
  - Read and transform the relevant EDB into the format required by the model estimation package [larch](https://larch.newman.me) and then re-estimate the model coefficients.  No changes to the model specification will be made.
  - Update the ActivitySim model coefficients and re-run the model in simulation mode.
  
The basic estimation workflow is shown below and explained in the next steps.

![estimation workflow](https://github.com/RSGInc/activitysim/raw/develop/docs/images/estimation_example.jpg)

# Load libraries

In [3]:
import larch  # !conda install larch #for estimation
import pandas as pd
import numpy as np
import yaml 
import larch.util.excel
import larch_asim  # utility functions in a local module
import os

# Required Inputs

In addition to a working ActivitySim model setup, estimation mode requires an ActivitySim format household travel survey.  An ActivitySim format household travel survey is very similar to ActivitySim's simulation model tables:

 - households
 - persons
 - tours
 - joint_tour_participants
 - trips (not yet implemented)

Examples of the ActivitySim format household travel survey are included in the [example_estimation data folders](https://github.com/RSGInc/activitysim/tree/develop/activitysim/examples/example_estimation).  The user is responsible for formatting their household travel survey into the appropriate format.  

After creating an ActivitySim format household travel survey, the `scripts/infer.py` script is run to append additional calculated fields.  An example of an additional calculated field is the `household:joint_tour_frequency`, which is calculated based on the `tours` and `joint_tour_participants` tables.  

The input survey files are below.

### Survey households

In [56]:
pd.read_csv("../data_sf/survey_data/override_households.csv")

,household_id,TAZ,income,hhsize,HHT,auto_ownership,num_workers,joint_tour_frequency
0,2223759,16,144100,2,1,0,2,1_Main
1,990869,134,48000,2,1,2,2,0_tours
2,125886,113,25900,1,4,1,1,0_tours
3,727893,8,26100,2,1,0,1,0_tours
4,2741769,150,121600,4,1,2,1,0_tours
...,...,...,...,...,...,...,...,...
1995,663493,110,19180,1,6,1,1,0_tours
1996,569375,20,7400,1,6,1,0,0_tours
1997,1445193,17,75000,1,4,0,1,0_tours
1998,2833455,69,0,1,0,0,0,0_tours
1999,1407683,106,70000,1,6,1,0,0_tours

### Survey persons

In [57]:
pd.read_csv("../data_sf/survey_data/override_persons.csv")

,person_id,household_id,age,PNUM,sex,pemploy,pstudent,ptype,school_taz,workplace_taz,free_parking_at_work,cdap_activity,mandatory_tour_frequency,_escort,_shopping,_othmaint,_othdiscr,_eatout,_social,non_mandatory_tour_frequency
0,166,166,54,1,2,3,3,4,-1,-1,False,N,NaN,0,0,0,0,1,0,4
1,197,197,46,1,2,3,3,4,-1,-1,False,N,NaN,0,1,0,0,0,0,16
2,268,268,46,1,1,3,3,4,-1,-1,False,N,NaN,0,0,1,1,0,0,9
3,375,375,54,1,2,3,3,4,-1,-1,False,N,NaN,0,0,1,0,0,0,8
4,387,387,44,1,2,3,3,4,-1,-1,False,N,NaN,1,0,0,1,0,0,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4401,7554799,2863464,93,1,2,3,3,5,-1,-1,False,N,NaN,0,0,0,1,0,0,1
4402,7554818,2863483,68,1,1,3,3,5,-1,-1,False,N,NaN,0,0,1,1,0,0,9
4403,7555141,2863806,93,1,2,3,3,5,-1,-1,False,N,NaN,0,2,0,1,0,0,17
4404,7555853,2864518,71,1,1,3,3,5,-1,-1,False,N,NaN,0,0,0,0,0,1,2
4405,7556023,2864688,93,1,1,3,3,5,-1,-1,False,N,NaN,0,0,0,2,0,0,1

### Survey tours

In [58]:
pd.read_csv("../data_sf/survey_data/override_tours.csv")

,tour_id,survey_tour_id,person_id,household_id,tour_type,tour_category,destination,origin,start,end,tour_mode,survey_parent_tour_id,parent_tour_id,composition,tdd,atwork_subtour_frequency
0,25820,258200,629,629,school,mandatory,133.0,131.0,12.0,15.0,WALK,NaN,NaN,NaN,115,NaN
1,52265,522650,1274,1274,school,mandatory,188.0,166.0,9.0,15.0,WALK_LOC,NaN,NaN,NaN,76,NaN
2,1117937,11179370,27266,27266,school,mandatory,133.0,9.0,17.0,18.0,WALK_HVY,NaN,NaN,NaN,163,NaN
3,1148523,11485230,28012,28012,school,mandatory,12.0,10.0,17.0,22.0,WALK_LRF,NaN,NaN,NaN,167,NaN
4,1208547,12085470,29476,29476,school,mandatory,13.0,16.0,8.0,15.0,WALK_LOC,NaN,NaN,NaN,61,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768,302942627,3029426270,7388844,2750003,maint,atwork,5.0,7.0,14.0,14.0,WALK,3.029426e+09,302942643.0,NaN,135,NaN
5769,305120465,3051204650,7441962,2758909,maint,atwork,110.0,2.0,12.0,13.0,SHARED2FREE,3.051205e+09,305120481.0,NaN,113,NaN
5770,308000655,3080006550,7512211,2820876,eat,atwork,14.0,1.0,12.0,13.0,WALK,3.080007e+09,308000690.0,NaN,113,NaN
5771,308073840,3080738400,7513996,2822661,eat,atwork,69.0,107.0,8.0,16.0,SHARED3FREE,3.080739e+09,308073875.0,NaN,62,NaN
5772,308090568,3080905680,7514404,2823069,eat,atwork,13.0,24.0,11.0,11.0,WALK,3.080906e+09,308090603.0,NaN,99,NaN

### Survey joint tour participants

In [59]:
pd.read_csv("../data_sf/survey_data/survey_joint_tour_participants.csv")

     participant_id    tour_id  household_id  person_id  participant_num
0       22095828301  220958283       2223759    5389226                1
1       22095828302  220958283       2223759    5389227                2
2       14429508701  144295087       1606646    3519392                1
3       14429508702  144295087       1606646    3519393                2
4       28367651801  283676518       2628704    6918939                1
..              ...        ...           ...        ...              ...
226     16297928102  162979281       1769918    3975105                2
227     16297928103  162979281       1769918    3975106                3
228     16297928104  162979281       1769918    3975107                4
229     26353054902  263530549       2519358    6427575                1
230     26353054903  263530549       2519358    6427576                2

[231 rows x 5 columns]

# Example Setup if Needed

To avoid duplication of inputs, especially model settings and expressions, the `example_estimation` depends on the `example`.  The following commands create an example setup for use.  The location of these example setups (i.e. the folders) are important because the paths are referenced in this notebook.  The commands below download the skims.omx for the SF county example from the [activitysim resources repository](https://github.com/RSGInc/activitysim_resources).

In [37]:
!activitysim create -e example_estimation_sf -d test

copying configs ...
copying configs ...
copying data_sf ...
downloading skims.omx ...
copying output ...
copied! new project files are in C:\projects\development\activitysim_rsg\activitysim\examples\example_estimation\notebooks\test\test
the copied example can be run with

  activitysim run -w test

# Run the Estimation Example

The next step is to run the model with an `estimation.yaml` settings file with the following settings in order to output the EDB for all submodels:

```
enable=True

bundles:
  - school_location
  - workplace_location
  - auto_ownership
  - free_parking
  - cdap
  - mandatory_tour_frequency
  - mandatory_tour_scheduling
  - joint_tour_frequency
  - joint_tour_composition
  - joint_tour_participation
  - joint_tour_destination
  - joint_tour_scheduling
  - non_mandatory_tour_frequency
  - non_mandatory_tour_destination
  - non_mandatory_tour_scheduling
  - tour_mode_choice
  - atwork_subtour_frequency
  - atwork_subtour_destination
  - atwork_subtour_scheduling
  - atwork_subtour_mode_choice

survey_tables:
  households:
    file_name: survey_data/override_households.csv
    index_col: household_id
  persons:
    file_name:  survey_data/override_persons.csv
    index_col: person_id
  tours:
    file_name:  survey_data/override_tours.csv
  joint_tour_participants:
    file_name:  survey_data/override_joint_tour_participants.csv
```

This enables the estimation mode functionality, identifies which models to run and their output estimation data bundles (EDBs), and the input survey tables, which include the override settings for each model choice.  

With this setup, the model will output an EBD with the following tables for this submodel:
  - model settings - school_location_model_settings.yaml
  - coefficients - school_location_coefficients.csv
  - utilities specification - school_location_SPEC.csv
  - land use data - school_location_landuse.csv
  - size terms - school_location_size_terms.csv
  - alternatives values - school_location_alternatives_combined.csv
  - chooser data - school_location_choosers_combined.csv
  
The following code runs the software in estimation mode, inheriting the settings from the simulation setup and using the San Francisco county data setup.  It produces the EDB for all submodels but runs all the model steps identified in the inherited settings file.

In [2]:
%cd test
!activitysim run -c configs_estimation/configs -c configs -o output -d data_sf

C:\projects\development\activitysim_rsg\activitysim\examples\example_estimation\notebooks\test
Configured logging using basicConfig
INFO:activitysim:Configured logging using basicConfig
INFO:activitysim.cli.run:using configs_dir: ['configs_estimation/configs', 'configs']
INFO:activitysim.cli.run:using data_dir: ['data_sf']
INFO:activitysim.cli.run:using output_dir: ['output']
INFO - Read logging configuration from: configs_estimation/configs\logging.yaml
INFO - setting households_sample_size: 0
INFO - setting chunk_size: 0
INFO - setting multiprocess: None
INFO - setting num_processes: None
INFO - setting resume_after: None
INFO - run single process simulation
INFO - open_pipeline
INFO - Set random seed base to 0
INFO - Time to execute open_pipeline : 0.023 seconds (0.0 minutes)
INFO - preload_injectables
INFO - Time to execute preload_injectables : 0.001 seconds (0.0 minutes)
INFO - Reading CSV file data_sf\land_use.csv
INFO - renaming columns: {'ZONE': 'TAZ', 'COUNTY': 'county_id'}
INFO - keeping columns: ['DISTRICT', 'SD', 'county_id', 'TOTHH', 'TOTPOP', 'TOTACRE', 'RESACRE', 'CIACRE', 'TOTEMP', 'AGE0519', 'RETEMPN', 'FPSEMPN', 'HEREMPN', 'OTHEMPN', 'AGREMPN', 'MWTEMPN', 'PRKCST', 'OPRKCST', 'area_type', 'HSENROLL', 'COLLFTE', 'COLLPTE', 'TOPOLOGY', 'TERMINAL']
INFO - keeping columns: ['DISTRICT', 'SD', 'county_id', 'TOTHH', 'TOTPOP', 'TOTACRE', 'RESACRE', 'CIACRE', 'TOTEMP', 'AGE0519', 'RETEMPN', 'FPSEMPN', 'HEREMPN', 'OTHEMPN', 'AGREMPN', 'MWTEMPN', 'PRKCST', 'OPRKCST', 'area_type', 'HSENROLL', 'COLLFTE', 'COLLPTE', 'TOPOLOGY', 'TERMINAL']
INFO - land_use index name: TAZ
INFO - loaded land_use (190, 24)
INFO - annotated land_use SPEC annotate_landuse
INFO - loading skim_dict from data_sf\skims.omx
INFO - allocating shared buffer skim_skims_0 for 826 skims (skim size: (190, 190) * 4 bytes = 29818600) total size: 119274400 (113.7 MB)
INFO - load_skims loaded skims from data_sf\skims.omx
INFO - Time to execute read_skims_from_omx : 2.842 seconds (0.0 minutes)
INFO - block_name skim_skims_0 bytes 119274400 (113.7 MB)
INFO - Running compute_accessibility with 190 dest zones
INFO - Running compute_accessibility with 190 dest zones 190 orig zones
INFO - init AccessibilitySkims with 190 dest zones 190 orig zones omx_shape (190, 190)
INFO - init AccessibilitySkims with 190 dest zones 190 orig zones omx_shape (190, 190)
WARNING - numpy: Warning: underflow encountered in exp expression: _decay = _rt_available * exp(_nmDist * dispersion_parameter_walk)
INFO - Reading CSV file data_sf\households.csv
INFO - renaming columns: {'HHID': 'household_id', 'PERSONS': 'hhsize', 'workers': 'num_workers', 'VEHICL': 'auto_ownership'}
INFO - keeping columns: ['TAZ', 'income', 'hhsize', 'HHT', 'auto_ownership', 'num_workers']
INFO - keeping columns: ['TAZ', 'income', 'hhsize', 'HHT', 'auto_ownership', 'num_workers']
INFO - households index name: household_id
INFO - full household list contains 2000 households
INFO - loaded households (2000, 7)
INFO - Reading CSV file data_sf\persons.csv
INFO - renaming columns: {'PERID': 'person_id'}
INFO - keeping columns: ['household_id', 'age', 'PNUM', 'sex', 'pemploy', 'pstudent', 'ptype']
INFO - keeping columns: ['household_id', 'age', 'PNUM', 'sex', 'pemploy', 'pstudent', 'ptype']
INFO - persons index name: person_id
INFO - loaded persons (4406, 7)
INFO - annotated persons SPEC annotate_persons
INFO - annotated households SPEC annotate_households
INFO - annotated persons SPEC annotate_persons_after_hh
INFO - SkimStack.__init__ loaded 167 keys with 823 total skims
INFO - Initialize Estimator for'school_location'
DEBUG - school_location: estimate.write_spec: output\estimation_data_bundle\school_location\school_location_SPEC.csv
DEBUG - school_location: write_table write: coefficients
DEBUG - school_location: write_table write: size_terms
DEBUG - school_location: write_table write: landuse
INFO - Running school_location.i1.sample.university with 329 persons
INFO - Estimation mode for school_location.i1.sample.university using unsampled alternatives short_circuit_choices
INFO - Running chunk 1 of 1 size 329
INFO - Running eval_interaction_utilities on 62510 rows
INFO - Estimation mode for school_location.i1.sample.university.interaction_sample using unsampled alternatives
INFO - Running school_location.i1.logsums.university with 62510 rows
INFO - Running chunk 1 of 1 size 62510
INFO - Time to execute  eval_utilities : 4.298 seconds (0.1 minutes)
INFO - Running school_location.i1.simulate.university with 329 persons
DEBUG - school_location: write_table cache: choosers
DEBUG - school_location: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 329
INFO - Running eval_interaction_utilities on 62510 rows
INFO - school_location: eval_interaction_utilities write_interaction_expression_values school_location.i1.simulate.university.interaction_sample_simulate.eval_interaction_utilities
DEBUG - school_location: write_table cache: interaction_expression_values
DEBUG - school_location: write_table cache: choices
DEBUG - get_survey_values: reindexing using persons.index
DEBUG - school_location: write_table cache: override_choices
INFO - Running school_location.i1.sample.highschool with 111 persons
INFO - Estimation mode for school_location.i1.sample.highschool using unsampled alternatives short_circuit_choices
INFO - Running chunk 1 of 1 size 111
INFO - Running eval_interaction_utilities on 21090 rows
INFO - Estimation mode for school_location.i1.sample.highschool.interaction_sample using unsampled alternatives
INFO - Running school_location.i1.logsums.highschool with 21090 rows
INFO - Running chunk 1 of 1 size 21090
INFO - Time to execute  eval_utilities : 1.894 seconds (0.0 minutes)
INFO - Running school_location.i1.simulate.highschool with 111 persons
DEBUG - school_location: write_table cache: choosers
DEBUG - school_location: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 111
INFO - Running eval_interaction_utilities on 21090 rows
INFO - school_location: eval_interaction_utilities write_interaction_expression_values school_location.i1.simulate.highschool.interaction_sample_simulate.eval_interaction_utilities
DEBUG - school_location: write_table cache: interaction_expression_values
DEBUG - school_location: write_table cache: choices
DEBUG - get_survey_values: reindexing using persons.index
DEBUG - school_location: write_table cache: override_choices
INFO - Running school_location.i1.sample.gradeschool with 544 persons
INFO - Estimation mode for school_location.i1.sample.gradeschool using unsampled alternatives short_circuit_choices
INFO - Running chunk 1 of 1 size 544
INFO - Running eval_interaction_utilities on 103360 rows
INFO - Estimation mode for school_location.i1.sample.gradeschool.interaction_sample using unsampled alternatives
INFO - Running school_location.i1.logsums.gradeschool with 103360 rows
INFO - Running chunk 1 of 1 size 103360
INFO - Time to execute  eval_utilities : 5.143 seconds (0.1 minutes)
INFO - Running school_location.i1.simulate.gradeschool with 544 persons
DEBUG - school_location: write_table cache: choosers
DEBUG - school_location: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 544
INFO - Running eval_interaction_utilities on 103360 rows
INFO - school_location: eval_interaction_utilities write_interaction_expression_values school_location.i1.simulate.gradeschool.interaction_sample_simulate.eval_interaction_utilities
DEBUG - school_location: write_table cache: interaction_expression_values
DEBUG - school_location: write_table cache: choices
DEBUG - get_survey_values: reindexing using persons.index
DEBUG - school_location: write_table cache: override_choices
INFO - write_trace_files iteration 1
INFO - school_taz_logsum top 10 value counts:
7.649507     5
14.507988    5
5.087648     5
12.926357    4
14.935529    4
12.327444    4
13.076714    4
14.282845    4
14.653621    4
10.972561    3
Name: logsum, dtype: int64
DEBUG - school_location: write_omnibus_table: choosers_combined table_names: ['choices', 'override_choices', 'choosers']
DEBUG - school_location: write_omnibus_choosers: output\estimation_data_bundle\school_location\school_location_choosers_combined.csv

DEBUG - school_location: write_omnibus_table: alternatives_combined table_names: ['interaction_sample_alternatives', 'interaction_expression_values']
DEBUG - school_location: write_omnibus_choosers: output\estimation_data_bundle\school_location\school_location_alternatives_combined.csv
INFO - school_location: end estimation
INFO - Initialize Estimator for'workplace_location'
DEBUG - workplace_location: estimate.write_spec: output\estimation_data_bundle\workplace_location\workplace_location_SPEC.csv
DEBUG - workplace_location: write_table write: coefficients
DEBUG - workplace_location: write_table write: size_terms
DEBUG - workplace_location: write_table write: landuse
INFO - Running workplace_location.i1.sample.work_low with 518 persons
INFO - Estimation mode for workplace_location.i1.sample.work_low using unsampled alternatives short_circuit_choices
INFO - Running chunk 1 of 1 size 518
INFO - Running eval_interaction_utilities on 98420 rows
INFO - Estimation mode for workplace_location.i1.sample.work_low.interaction_sample using unsampled alternatives
INFO - Running workplace_location.i1.logsums.work_low with 98420 rows
INFO - Running chunk 1 of 1 size 98420
INFO - Time to execute  eval_utilities : 4.933 seconds (0.1 minutes)
INFO - Running workplace_location.i1.simulate.work_low with 518 persons
DEBUG - workplace_location: write_table cache: choosers
DEBUG - workplace_location: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 518
INFO - Running eval_interaction_utilities on 98420 rows
INFO - workplace_location: eval_interaction_utilities write_interaction_expression_values workplace_location.i1.simulate.work_low.interaction_sample_simulate.eval_interaction_utilities
DEBUG - workplace_location: write_table cache: interaction_expression_values
DEBUG - workplace_location: write_table cache: choices
DEBUG - get_survey_values: reindexing using persons.index
DEBUG - workplace_location: write_table cache: override_choices
INFO - Running workplace_location.i1.sample.work_med with 544 persons
INFO - Estimation mode for workplace_location.i1.sample.work_med using unsampled alternatives short_circuit_choices
INFO - Running chunk 1 of 1 size 544
INFO - Running eval_interaction_utilities on 103360 rows
INFO - Estimation mode for workplace_location.i1.sample.work_med.interaction_sample using unsampled alternatives
INFO - Running workplace_location.i1.logsums.work_med with 103360 rows
INFO - Running chunk 1 of 1 size 103360
INFO - Time to execute  eval_utilities : 5.203 seconds (0.1 minutes)
INFO - Running workplace_location.i1.simulate.work_med with 544 persons
DEBUG - workplace_location: write_table cache: choosers
DEBUG - workplace_location: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 544
INFO - Running eval_interaction_utilities on 103360 rows
INFO - workplace_location: eval_interaction_utilities write_interaction_expression_values workplace_location.i1.simulate.work_med.interaction_sample_simulate.eval_interaction_utilities
DEBUG - workplace_location: write_table cache: interaction_expression_values
DEBUG - workplace_location: write_table cache: choices
DEBUG - get_survey_values: reindexing using persons.index
DEBUG - workplace_location: write_table cache: override_choices
INFO - Running workplace_location.i1.sample.work_high with 614 persons
INFO - Estimation mode for workplace_location.i1.sample.work_high using unsampled alternatives short_circuit_choices
INFO - Running chunk 1 of 1 size 614
INFO - Running eval_interaction_utilities on 116660 rows
INFO - Estimation mode for workplace_location.i1.sample.work_high.interaction_sample using unsampled alternatives
INFO - Running workplace_location.i1.logsums.work_high with 116660 rows
INFO - Running chunk 1 of 1 size 116660
INFO - Time to execute  eval_utilities : 5.612 seconds (0.1 minutes)
INFO - Running workplace_location.i1.simulate.work_high with 614 persons
DEBUG - workplace_location: write_table cache: choosers
DEBUG - workplace_location: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 614
INFO - Running eval_interaction_utilities on 116660 rows
INFO - workplace_location: eval_interaction_utilities write_interaction_expression_values workplace_location.i1.simulate.work_high.interaction_sample_simulate.eval_interaction_utilities
DEBUG - workplace_location: write_table cache: interaction_expression_values
DEBUG - workplace_location: write_table cache: choices
DEBUG - get_survey_values: reindexing using persons.index
DEBUG - workplace_location: write_table cache: override_choices
INFO - Running workplace_location.i1.sample.work_veryhigh with 907 persons
INFO - Estimation mode for workplace_location.i1.sample.work_veryhigh using unsampled alternatives short_circuit_choices
INFO - Running chunk 1 of 1 size 907
INFO - Running eval_interaction_utilities on 172330 rows
INFO - Estimation mode for workplace_location.i1.sample.work_veryhigh.interaction_sample using unsampled alternatives
INFO - Running workplace_location.i1.logsums.work_veryhigh with 172330 rows
INFO - Running chunk 1 of 1 size 172330
INFO - Time to execute  eval_utilities : 7.994 seconds (0.1 minutes)
INFO - Running workplace_location.i1.simulate.work_veryhigh with 907 persons
DEBUG - workplace_location: write_table cache: choosers
DEBUG - workplace_location: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 907
INFO - Running eval_interaction_utilities on 172330 rows
INFO - workplace_location: eval_interaction_utilities write_interaction_expression_values workplace_location.i1.simulate.work_veryhigh.interaction_sample_simulate.eval_interaction_utilities
DEBUG - workplace_location: write_table cache: interaction_expression_values
DEBUG - workplace_location: write_table cache: choices
DEBUG - get_survey_values: reindexing using persons.index
DEBUG - workplace_location: write_table cache: override_choices
INFO - write_trace_files iteration 1
INFO - workplace_location_logsum top 10 value counts:
16.434192    7
15.600834    7
16.528269    6
14.959868    6
16.301265    6
15.839166    6
16.816246    6
16.628497    6
16.512493    6
16.515857    6
Name: logsum, dtype: int64
DEBUG - workplace_location: write_omnibus_table: choosers_combined table_names: ['choices', 'override_choices', 'choosers']
DEBUG - workplace_location: write_omnibus_choosers: output\estimation_data_bundle\workplace_location\workplace_location_choosers_combined.csv
DEBUG - workplace_location: write_omnibus_table: alternatives_combined table_names: ['interaction_sample_alternatives', 'interaction_expression_values']
DEBUG - workplace_location: write_omnibus_choosers: output\estimation_data_bundle\workplace_location\workplace_location_alternatives_combined.csv
INFO - workplace_location: end estimation
INFO - Initialize Estimator for'auto_ownership'
INFO - Running auto_ownership_simulate with 2000 households
DEBUG - auto_ownership: estimate.write_spec: output\estimation_data_bundle\auto_ownership\auto_ownership_SPEC.csv
DEBUG - auto_ownership: write_table write: coefficients
DEBUG - auto_ownership: write_table cache: choosers
INFO - Running chunk 1 of 1 size 2000
DEBUG - auto_ownership: write_table cache: expression_values
INFO - Time to execute  eval_utilities : 0.095 seconds (0.0 minutes)
DEBUG - auto_ownership: write_table cache: choices
DEBUG - get_survey_values: reindexing using households.index
DEBUG - auto_ownership: write_table cache: override_choices
DEBUG - auto_ownership: write_omnibus_table: values_combined table_names: ['choices', 'override_choices', 'expression_values', 'choosers']
DEBUG - auto_ownership: write_omnibus_choosers: output\estimation_data_bundle\auto_ownership\auto_ownership_values_combined.csv
INFO - auto_ownership: end estimation
INFO - auto_ownership top 10 value counts:
1    886
0    616
2    387
3     74
4     37
Name: auto_ownership, dtype: int64
INFO - Running free_parking with 2583 persons
INFO - Initialize Estimator for'free_parking'
DEBUG - free_parking: estimate.write_spec: output\estimation_data_bundle\free_parking\free_parking_SPEC.csv
DEBUG - free_parking: write_table write: coefficients
DEBUG - free_parking: write_table cache: choosers
INFO - Running chunk 1 of 1 size 2583
DEBUG - free_parking: write_table cache: expression_values
INFO - Time to execute  eval_utilities : 0.005 seconds (0.0 minutes)
DEBUG - free_parking: write_table cache: choices
DEBUG - get_survey_values: reindexing using persons.index
DEBUG - free_parking: write_table cache: override_choices
DEBUG - free_parking: write_omnibus_table: values_combined table_names: ['choices', 'override_choices', 'expression_values', 'choosers']
DEBUG - free_parking: write_omnibus_choosers: output\estimation_data_bundle\free_parking\free_parking_values_combined.csv
INFO - free_parking: end estimation
INFO - free_parking top 10 value counts:
False    4273
True      133
Name: free_parking_at_work, dtype: int64
INFO - Pre-building cdap specs
INFO - Time to execute build_cdap_spec hh_size 2 : 0.285 seconds (0.0 minutes)
INFO - Time to execute build_cdap_spec hh_size 3 : 0.942 seconds (0.0 minutes)
INFO - Time to execute build_cdap_spec hh_size 4 : 2.074 seconds (0.0 minutes)
INFO - Time to execute build_cdap_spec hh_size 5 : 5.184 seconds (0.1 minutes)
INFO - Initialize Estimator for'cdap'
DEBUG - cdap: estimate.write_spec: output\estimation_data_bundle\cdap\cdap_INDIV_AND_HHSIZE1_SPEC.csv
DEBUG - cdap: estimate.write_spec: output\estimation_data_bundle\cdap\cdap_FIXED_RELATIVE_PROPORTIONS_SPEC.csv
DEBUG - cdap: write_table write: interaction_coefficients
DEBUG - cdap: write_table cache: choosers
INFO - build_cdap_spec returning cached injectable spec cdap_spec_2
DEBUG - cdap: write_table write: spec_2
INFO - build_cdap_spec returning cached injectable spec cdap_spec_3
DEBUG - cdap: write_table write: spec_3
INFO - build_cdap_spec returning cached injectable spec cdap_spec_4
DEBUG - cdap: write_table write: spec_4
INFO - build_cdap_spec returning cached injectable spec cdap_spec_5
DEBUG - cdap: write_table write: spec_5
INFO - Running cdap_simulate with 4406 persons
INFO - Running chunk 1 of 1 with 4406 persons
INFO - Time to execute  eval_utilities : 0.368 seconds (0.0 minutes)
INFO - build_cdap_spec returning cached injectable spec cdap_spec_2
INFO - Time to execute  eval_utilities : 0.33 seconds (0.0 minutes)
INFO - build_cdap_spec returning cached injectable spec cdap_spec_3
INFO - Time to execute  eval_utilities : 0.478 seconds (0.0 minutes)
INFO - build_cdap_spec returning cached injectable spec cdap_spec_4
INFO - Time to execute  eval_utilities : 1.138 seconds (0.0 minutes)
INFO - build_cdap_spec returning cached injectable spec cdap_spec_5
INFO - Time to execute  eval_utilities : 2.006 seconds (0.0 minutes)
DEBUG - cdap: write_table cache: choices
DEBUG - get_survey_values: reindexing using persons.index
DEBUG - cdap: write_table cache: override_choices
DEBUG - cdap: write_omnibus_table: values_combined table_names: ['choices', 'override_choices', 'choosers']
DEBUG - cdap: write_omnibus_choosers: output\estimation_data_bundle\cdap\cdap_values_combined.csv
INFO - cdap: end estimation
INFO - cdap_activity top 10 value counts:
M    2623
N    1211
H     572
Name: cdap_activity, dtype: int64
INFO - cdap crosstabs:
cdap_activity    H     M     N   All
ptype
1              154  1609   158  1921
2               47   331   118   496
3               33   230    66   329
4              114     0   420   534
5              117     0   354   471
6               22    42     8    72
7               38   274    40   352
8               47   137    47   231
All            572  2623  1211  4406
INFO - Running mandatory_tour_frequency with 2623 persons
INFO - Initialize Estimator for'mandatory_tour_frequency'
DEBUG - mandatory_tour_frequency: estimate.write_spec: output\estimation_data_bundle\mandatory_tour_frequency\mandatory_tour_frequency_SPEC.csv
DEBUG - mandatory_tour_frequency: write_table write: coefficients
DEBUG - mandatory_tour_frequency: write_table cache: choosers
INFO - Running chunk 1 of 1 size 2623
DEBUG - mandatory_tour_frequency: write_table cache: expression_values
INFO - Time to execute  eval_utilities : 0.688 seconds (0.0 minutes)
DEBUG - mandatory_tour_frequency: write_table cache: choices
DEBUG - get_survey_values: reindexing using persons.index
DEBUG - mandatory_tour_frequency: write_table cache: override_choices
DEBUG - mandatory_tour_frequency: write_omnibus_table: values_combined table_names: ['choices', 'override_choices', 'expression_values', 'choosers']
DEBUG - mandatory_tour_frequency: write_omnibus_choosers: output\estimation_data_bundle\mandatory_tour_frequency\mandatory_tour_frequency_values_combined.csv
INFO - mandatory_tour_frequency: end estimation
INFO - mandatory_tour_frequency top 10 value counts:
work1              1928
                   1783
school1             561
work2                96
work_and_school      21
school2              17
Name: mandatory_tour_frequency, dtype: int64
INFO - Initialize Estimator for'mandatory_tour_scheduling_work'
DEBUG - mandatory_tour_scheduling_work: estimate.write_spec: output\estimation_data_bundle\mandatory_tour_scheduling_work\mandatory_tour_scheduling_work_SPEC.csv
DEBUG - mandatory_tour_scheduling_work: write_table write: coefficients
INFO - Initialize Estimator for'mandatory_tour_scheduling_school'
DEBUG - mandatory_tour_scheduling_school: estimate.write_spec: output\estimation_data_bundle\mandatory_tour_scheduling_school\mandatory_tour_scheduling_school_SPEC.csv
DEBUG - mandatory_tour_scheduling_school: write_table write: coefficients
DEBUG - @inject timetable
INFO - mandatory_tour_scheduling_work: timetable.begin_transaction person_windows
INFO - mandatory_tour_scheduling_school: timetable.begin_transaction person_windows
INFO - Running mandatory_tour_scheduling with 2757 tours
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_1.work schedule_tours running 2045 tour choices
INFO - Running chunk 1 of 1 size 2045
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_1.work schedule_tours running 2045 tour choices
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_1.work.logsums compute_logsums for 173825 choosers173825 alts
INFO - Running chunk 1 of 1 size 173825
INFO - Time to execute  eval_utilities : 8.444 seconds (0.1 minutes)
DEBUG - mandatory_tour_scheduling_work: write_table cache: choosers
DEBUG - mandatory_tour_scheduling_work: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 2045
INFO - Running eval_interaction_utilities on 388550 rows
INFO - mandatory_tour_scheduling_work: eval_interaction_utilities write_interaction_expression_values mandatory_tour_scheduling.vectorize_tour_scheduling.tour_1.work.interaction_sample_simulate.eval_interaction_utilities
DEBUG - mandatory_tour_scheduling_work: write_table cache: interaction_expression_values
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_1.school schedule_tours running 451 tour choices
INFO - Running chunk 1 of 1 size 451
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_1.school schedule_tours running 451 tour choices
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_1.school.logsums compute_logsums for 38335 choosers38335 alts
INFO - Running chunk 1 of 1 size 38335
INFO - Time to execute  eval_utilities : 2.42 seconds (0.0 minutes)
DEBUG - mandatory_tour_scheduling_school: write_table cache: choosers
DEBUG - mandatory_tour_scheduling_school: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 451
INFO - Running eval_interaction_utilities on 85690 rows
INFO - mandatory_tour_scheduling_school: eval_interaction_utilities write_interaction_expression_values mandatory_tour_scheduling.vectorize_tour_scheduling.tour_1.school.interaction_sample_simulate.eval_interaction_utilities
DEBUG - mandatory_tour_scheduling_school: write_table cache: interaction_expression_values
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_1.univ schedule_tours running 127 tour choices
INFO - Running chunk 1 of 1 size 127
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_1.univ schedule_tours running 127 tour choices
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_1.univ.logsums compute_logsums for 10795 choosers10795 alts
INFO - Running chunk 1 of 1 size 10795
INFO - Time to execute  eval_utilities : 1.327 seconds (0.0 minutes)
DEBUG - mandatory_tour_scheduling_school: write_table cache: choosers
DEBUG - mandatory_tour_scheduling_school: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 127
INFO - Running eval_interaction_utilities on 24130 rows
INFO - mandatory_tour_scheduling_school: eval_interaction_utilities write_interaction_expression_values mandatory_tour_scheduling.vectorize_tour_scheduling.tour_1.univ.interaction_sample_simulate.eval_interaction_utilities
DEBUG - mandatory_tour_scheduling_school: write_table cache: interaction_expression_values
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_2.work schedule_tours running 96 tour choices
INFO - Running chunk 1 of 1 size 96
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_2.work schedule_tours running 96 tour choices
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_2.work.logsums compute_logsums for 3609 choosers3609 alts
INFO - Running chunk 1 of 1 size 3609
INFO - Time to execute  eval_utilities : 0.791 seconds (0.0 minutes)
DEBUG - mandatory_tour_scheduling_work: write_table cache: choosers
DEBUG - mandatory_tour_scheduling_work: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 96
INFO - Running eval_interaction_utilities on 7314 rows
INFO - mandatory_tour_scheduling_work: eval_interaction_utilities write_interaction_expression_values mandatory_tour_scheduling.vectorize_tour_scheduling.tour_2.work.interaction_sample_simulate.eval_interaction_utilities
DEBUG - mandatory_tour_scheduling_work: write_table cache: interaction_expression_values
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_2.school schedule_tours running 12 tour choices
INFO - Running chunk 1 of 1 size 12
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_2.school schedule_tours running 12 tour choices
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_2.school.logsums compute_logsums for 556 choosers556 alts
INFO - Running chunk 1 of 1 size 556
INFO - Time to execute  eval_utilities : 0.641 seconds (0.0 minutes)
DEBUG - mandatory_tour_scheduling_school: write_table cache: choosers
DEBUG - mandatory_tour_scheduling_school: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 12
INFO - Running eval_interaction_utilities on 1171 rows
INFO - mandatory_tour_scheduling_school: eval_interaction_utilities write_interaction_expression_values mandatory_tour_scheduling.vectorize_tour_scheduling.tour_2.school.interaction_sample_simulate.eval_interaction_utilities
DEBUG - mandatory_tour_scheduling_school: write_table cache: interaction_expression_values
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_2.univ schedule_tours running 26 tour choices
INFO - Running chunk 1 of 1 size 26
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_2.univ schedule_tours running 26 tour choices
INFO - mandatory_tour_scheduling.vectorize_tour_scheduling.tour_2.univ.logsums compute_logsums for 1109 choosers1109 alts
INFO - Running chunk 1 of 1 size 1109
INFO - Time to execute  eval_utilities : 0.655 seconds (0.0 minutes)
DEBUG - mandatory_tour_scheduling_school: write_table cache: choosers
DEBUG - mandatory_tour_scheduling_school: write_table cache: interaction_sample_alternatives
INFO - Running chunk 1 of 1 size 26
INFO - Running eval_interaction_utilities on 2312 rows

# Read EDB

The next step is to read the EDB, including the coefficients, model settings, utilities specification, and chooser and alternative data.

In [4]:
from larch import P,X

In [5]:
edb_directory = "output/estimation_data_bundle/school_location/"

def read_csv(filename, **kwargs):
    return pd.read_csv(os.path.join(edb_directory, filename), **kwargs)

### Model Settings

In [6]:
try:
    from yaml import CLoader as yamlLoader
except ImportError:
    from yaml import yamlLoader

with open(os.path.join(edb_directory, "school_location_model_settings.yaml"), 'r') as stream:
    settings = yaml.load(stream, Loader=yamlLoader)

In [7]:
CHOOSER_SEGMENT_COLUMN_NAME = settings['CHOOSER_SEGMENT_COLUMN_NAME']
SEGMENT_IDS = settings['SEGMENT_IDS']
settings

{'SAMPLE_SIZE': 30,
 'SIMULATE_CHOOSER_COLUMNS': ['TAZ', 'school_segment', 'household_id'],
 'CHOOSER_ORIG_COL_NAME': 'TAZ',
 'ALT_DEST_COL_NAME': 'alt_dest',
 'IN_PERIOD': 14,
 'OUT_PERIOD': 8,
 'DEST_CHOICE_COLUMN_NAME': 'school_taz',
 'DEST_CHOICE_LOGSUM_COLUMN_NAME': 'school_taz_logsum',
 'DEST_CHOICE_SAMPLE_TABLE_NAME': 'school_location_sample',
 'SAMPLE_SPEC': 'school_location_sample.csv',
 'SPEC': 'school_location.csv',
 'COEFFICIENTS': 'school_location_coeffs.csv',
 'LOGSUM_SETTINGS': 'tour_mode_choice.yaml',
 'LOGSUM_PREPROCESSOR': 'nontour_preprocessor',
 'LOGSUM_TOUR_PURPOSE': {'university': 'univ',
  'highschool': 'school',
  'gradeschool': 'school'},
 'annotate_persons': {'SPEC': 'annotate_persons_school', 'DF': 'persons'},
 'CHOOSER_TABLE_NAME': 'persons',
 'MODEL_SELECTOR': 'school',
 'CHOOSER_SEGMENT_COLUMN_NAME': 'school_segment',
 'CHOOSER_FILTER_COLUMN_NAME': 'is_student',
 'SEGMENT_IDS': {'university': 3, 'highschool': 2, 'gradeschool': 1},
 'SHADOW_PRICE_TABLE': 'school_shadow_prices',
 'MODELED_SIZE_TABLE': 'school_modeled_size',
 'SAVED_SHADOW_PRICE_TABLE_NAME': 'school_shadow_prices.csv'}

### Utility specification

In [8]:
spec = read_csv("school_location_SPEC.csv")

In [9]:
spec

,Label,Description,Expression,university,highschool,gradeschool
0,local_dist,NaN,_DIST@skims['DIST'],1,1,1
1,util_dist_0_1,"Distance, piecewise linear from 0 to 1 miles","@_DIST.clip(0,1)",coef_univ_dist_0_1,coef_high_dist_0_1,coef_grade_dist_0_1
2,util_dist_1_2,"Distance, piecewise linear from 1 to 2 miles","@(_DIST-1).clip(0,1)",coef_univ_dist_1_2,coef_high_grade_dist_1_2,coef_high_grade_dist_1_2
3,util_dist_2_5,"Distance, piecewise linear from 2 to 5 miles","@(_DIST-2).clip(0,3)",coef_univ_dist_2_5,coef_high_grade_dist_2_5,coef_high_grade_dist_2_5
4,util_dist_5_15,"Distance, piecewise linear from 5 to 15 miles","@(_DIST-5).clip(0,10)",coef_univ_dist_5_15,coef_high_dist_5_15,coef_grade_dist_5_15
5,util_dist_15_up,"Distance, piecewise linear for 15+ miles",@(_DIST-15.0).clip(0),coef_univ_dist_15_up,coef_high_dist_15_up,coef_grade_dist_15_up
6,util_size_variable,Size variable,@(df['size_term'] * df['shadow_price_size_term...,1,1,1
7,util_utility_adjustment,utility adjustment,@df['shadow_price_utility_adjustment'],1,1,1
8,util_no_attractions,No attractions,@df['size_term']==0,-999,-999,-999
9,util_mode_choice_logsum,Mode choice logsum,mode_choice_logsum,coef_mode_logsum,coef_mode_logsum,coef_mode_logsum
10,util_sample_of_corrections_factor,Sample of alternatives correction factor,"@np.minimum(np.log(df.pick_count/df.prob), 60)",1,1,1

In [10]:
# Remove shadow pricing and pre-existing size expression

spec = spec\
.set_index('Label')\
.drop(index=['util_size_variable', 'util_utility_adjustment'])\
.reset_index()

### Zone size term specification

In [11]:
size_spec = read_csv("school_location_size_terms.csv")

In [12]:
school_size_spec = size_spec \
.query("model_selector == 'school'") \
.drop(columns='model_selector') \
.set_index('segment')
school_size_spec = school_size_spec.loc[:,school_size_spec.max()>0]
school_size_spec

             AGE0519  HSENROLL  COLLFTE  COLLPTE
segment
university       0.0       0.0    0.592    0.408
gradeschool      1.0       0.0    0.000    0.000
highschool       0.0       1.0    0.000    0.000

### Zone size term coefficients

In [13]:
size_coef = school_size_spec.stack().reset_index()
size_coef.index = size_coef.iloc[:,0] +"_"+ size_coef.iloc[:,1]
size_coef = size_coef.loc[size_coef.iloc[:,2]>0]
size_coef['constrain'] = 'F'
one_each = size_coef.groupby('segment').first().reset_index()
size_coef.loc[one_each.iloc[:,0] +"_"+ one_each.iloc[:,1], 'constrain'] = 'T'
size_coef = size_coef.iloc[:,2:]
size_coef.columns = ['value','constrain']
size_coef.index.name = 'coefficient_name'
size_coef['value'] = np.log(size_coef['value'])
size_coef

                        value constrain
coefficient_name
university_COLLFTE  -0.524249         T
university_COLLPTE  -0.896488         F
gradeschool_AGE0519  0.000000         T
highschool_HSENROLL  0.000000         T

### Coefficients

In [14]:
coefficients = read_csv("school_location_coefficients.csv",index_col=0)
coefficients

                           value constrain
coefficient_name
coef_univ_dist_0_1       -3.2451         F
coef_univ_dist_1_2       -2.7011         F
coef_univ_dist_2_5       -0.5707         F
coef_univ_dist_5_15      -0.5002         F
coef_univ_dist_15_up     -0.0730         F
coef_high_dist_0_1       -0.9523         F
coef_high_grade_dist_1_2 -0.5700         F
coef_high_grade_dist_2_5 -0.5700         F
coef_high_dist_5_15      -0.1930         F
coef_high_dist_15_up     -0.1882         F
coef_grade_dist_0_1      -1.6419         F
coef_grade_dist_5_15     -0.2031         F
coef_grade_dist_15_up    -0.0460         F
coef_mode_logsum          0.5358         F

### Chooser data

In [15]:
x_co = read_csv("school_location_choosers_combined.csv",index_col='person_id')
x_co.head()

           model_choice  override_choice  TAZ  school_segment  household_id
person_id
629                  13              133  131               3           629
1274                 10              188  166               3          1274
27266                10              133    9               3         27266
28012                 5               12   10               3         28012
29368               185               13   16               3         29368

In [16]:
x_co.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 629 to 7541072
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   model_choice     984 non-null    int64
 1   override_choice  984 non-null    int64
 2   TAZ              984 non-null    int64
 3   school_segment   984 non-null    int64
 4   household_id     984 non-null    int64
dtypes: int64(5)
memory usage: 46.1 KB

### Alternatives Data

In [17]:
x_cv = read_csv("school_location_alternatives_combined.csv", index_col=(0,1))
x_cv.head()

                                                               1  \
person_id variable
629       TAZ                                                1.0
          mode_choice_logsum                 -1.5183555655982788
          pick_count                                         1.0
          prob                                               0.0
          shadow_price_size_term_adjustment                  1.0

                                                              2  \
person_id variable
629       TAZ                                               2.0
          mode_choice_logsum                 -1.353962644303794
          pick_count                                        1.0
          prob                                              0.0
          shadow_price_size_term_adjustment                 1.0

                                                               3  \
person_id variable
629       TAZ                                                3.0
          mode_choice_logsum                 -1.0526039754400893
          pick_count                                         1.0
          prob                                               0.0
          shadow_price_size_term_adjustment                  1.0

                                                               4  \
person_id variable
629       TAZ                                                4.0
          mode_choice_logsum                 -1.3907332428502703
          pick_count                                         1.0
          prob                                               0.0
          shadow_price_size_term_adjustment                  1.0

                                                                 5  \
person_id variable
629       TAZ                                                  5.0
          mode_choice_logsum                   -1.2112310544656295
          pick_count                                           1.0
          prob                               3.964160745753979e-05
          shadow_price_size_term_adjustment                    1.0

                                                               6  \
person_id variable
629       TAZ                                                6.0
          mode_choice_logsum                 -0.9024649772476414
          pick_count                                         1.0
          prob                                               0.0
          shadow_price_size_term_adjustment                  1.0

                                                               7  \
person_id variable
629       TAZ                                                7.0
          mode_choice_logsum                 -0.8544294523037963
          pick_count                                         1.0
          prob                                               0.0
          shadow_price_size_term_adjustment                  1.0

                                                               8  \
person_id variable
629       TAZ                                                8.0
          mode_choice_logsum                 -0.9528358416884833
          pick_count                                         1.0
          prob                                               0.0
          shadow_price_size_term_adjustment                  1.0

                                                                 9  \
person_id variable
629       TAZ                                                  9.0
          mode_choice_logsum                   -0.9322353907168195
          pick_count                                           1.0
          prob                               0.0016781636530682667
          shadow_price_size_term_adjustment                    1.0

                                                                10  ...  \
person_id variable                                                  ...
629       TAZ                                                 10.0  ...
          mode_choice_logsum                   -0.9960110414966423  ...
          pick_count                                           1.0  ...
          prob                               0.0006643895800549435  ...
          shadow_price_size_term_adjustment                    1.0  ...

                                                             181  \
person_id variable
629       TAZ                                              181.0
          mode_choice_logsum                 -1.5077968784535976
          pick_count                                         1.0
          prob                                               0.0
          shadow_price_size_term_adjustment                  1.0

                                                            182  \
person_id variable
629       TAZ                                             182.0
          mode_choice_logsum                 -1.193792288653567
          pick_count                                        1.0
          prob                                              0.0
          shadow_price_size_term_adjustment                 1.0

                                                           183  \
person_id variable
629       TAZ                                            183.0
          mode_choice_logsum                 -1.07496629805523
          pick_count                                       1.0
          prob                                             0.0
          shadow_price_size_term_adjustment                1.0

                                                             184  \
person_id variable
629       TAZ                                              184.0
          mode_choice_logsum                 -1.0762186838325454
          pick_count                                         1.0
          prob                                               0.0
          shadow_price_size_term_adjustment                  1.0

                                                               185  \
person_id variable
629       TAZ                                                185.0
          mode_choice_logsum                   -0.8796290051944193
          pick_count                                           1.0
          prob                               0.0004973126878062969
          shadow_price_size_term_adjustment                    1.0

                                                             186  \
person_id variable
629       TAZ                                              186.0
          mode_choice_logsum                 -0.9219559724996267
          pick_count                                         1.0
          prob                                               0.0
          shadow_price_size_term_adjustment                  1.0

                                                             187  \
person_id variable
629       TAZ                                              187.0
          mode_choice_logsum                 -0.9920608655458416
          pick_count                                         1.0
          prob                                               0.0
          shadow_price_size_term_adjustment                  1.0

                                                             188  \
person_id variable
629       TAZ                                              188.0
          mode_choice_logsum                 -0.9485572132565794
          pick_count                                         1.0
          prob                                0.0502720348896301
          shadow_price_size_term_adjustment                  1.0

                                                             189  \
person_id variable
629       TAZ                                              189.0
          mode_choice_logsum                 -1.2540314052850339
          pick_count                                         1.0
          prob                                               0.0
          shadow_price_size_term_adjustment                  1.0

                                                            190
person_id variable
629       TAZ                                             190.0
          mode_choice_logsum                 -1.440460138400616
          pick_count                                        1.0
          prob                                              0.0
          shadow_price_size_term_adjustment                 1.0

[5 rows x 190 columns]

### Zone land use data

In [18]:
landuse = read_csv("school_location_landuse.csv", index_col='TAZ')
landuse.head()

,DISTRICT,SD,county_id,TOTHH,TOTPOP,TOTACRE,RESACRE,CIACRE,TOTEMP,AGE0519,...,OPRKCST,area_type,HSENROLL,COLLFTE,COLLPTE,TOPOLOGY,TERMINAL,household_density,employment_density,density_index
TAZ,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,46,82,20.3,1.0,15.00000,27318,7,...,932.83514,0,0.0,0.00000,0.0,3,5.89564,2.875000,1707.375000,2.870167
2,1,1,1,134,240,31.1,1.0,24.79297,42078,19,...,885.61682,0,0.0,0.00000,0.0,1,5.84871,5.195214,1631.374751,5.178722
3,1,1,1,267,476,14.7,1.0,2.31799,2445,38,...,716.27252,0,0.0,0.00000,0.0,1,5.53231,80.470405,736.891913,72.547987
4,1,1,1,151,253,19.3,1.0,18.00000,22434,20,...,314.00000,0,0.0,0.00000,0.0,2,5.64330,7.947368,1180.736842,7.894233
5,1,1,1,611,1069,52.7,1.0,15.00000,15662,86,...,314.01431,0,0.0,72.14684,0.0,1,5.52555,38.187500,978.875000,36.753679

# Data Processing and Estimation Setup

The next step is to transform the EDB for larch for model re-estimation.

In [19]:
x_ca = larch_asim.cv_to_ca(x_cv)

In [20]:
x_ca_1 = pd.merge(x_ca, landuse, on='TAZ', how='left')
x_ca_1.index = x_ca.index

In [21]:
x_ca_1, x_co = larch_asim.prevent_overlapping_column_names(x_ca_1, x_co)

In [22]:
d = larch.DataFrames(
    co=x_co,
    ca=x_ca_1,
    av=True,
)

### Utility specifications

In [23]:
m = larch.Model()

In [24]:
m.utility_ca = larch_asim.linear_utility_from_spec(
    spec, x_col='Label', 
    p_col=SEGMENT_IDS, 
    ignore_x=('local_dist',), 
    segment_id=CHOOSER_SEGMENT_COLUMN_NAME,
)
print(m.utility_ca)

  P.coef_univ_dist_0_1 * X('util_dist_0_1*(school_segment==3)')
+ P.coef_univ_dist_1_2 * X('util_dist_1_2*(school_segment==3)')
+ P.coef_univ_dist_2_5 * X('util_dist_2_5*(school_segment==3)')
+ P.coef_univ_dist_5_15 * X('util_dist_5_15*(school_segment==3)')
+ P.coef_univ_dist_15_up * X('util_dist_15_up*(school_segment==3)')
+ P('-999') * X('util_no_attractions*(school_segment==3)')
+ P.coef_mode_logsum * X('util_mode_choice_logsum*(school_segment==3)')
+ P('1') * X('util_sample_of_corrections_factor*(school_segment==3)')
+ P.coef_high_dist_0_1 * X('util_dist_0_1*(school_segment==2)')
+ P.coef_high_grade_dist_1_2 * X('util_dist_1_2*(school_segment==2)')
+ P.coef_high_grade_dist_2_5 * X('util_dist_2_5*(school_segment==2)')
+ P.coef_high_dist_5_15 * X('util_dist_5_15*(school_segment==2)')
+ P.coef_high_dist_15_up * X('util_dist_15_up*(school_segment==2)')
+ P('-999') * X('util_no_attractions*(school_segment==2)')
+ P.coef_mode_logsum * X('util_mode_choice_logsum*(school_segment==2)')
+ P('1') * X('util_sample_of_corrections_factor*(school_segment==2)')
+ P.coef_grade_dist_0_1 * X('util_dist_0_1*(school_segment==1)')
+ P.coef_high_grade_dist_1_2 * X('util_dist_1_2*(school_segment==1)')
+ P.coef_high_grade_dist_2_5 * X('util_dist_2_5*(school_segment==1)')
+ P.coef_grade_dist_5_15 * X('util_dist_5_15*(school_segment==1)')
+ P.coef_grade_dist_15_up * X('util_dist_15_up*(school_segment==1)')
+ P('-999') * X('util_no_attractions*(school_segment==1)')
+ P.coef_mode_logsum * X('util_mode_choice_logsum*(school_segment==1)')
+ P('1') * X('util_sample_of_corrections_factor*(school_segment==1)')

In [25]:
m.quantity_ca = sum(
    P(f"{i}_{q}") * X(q) * X(f"{settings['CHOOSER_SEGMENT_COLUMN_NAME']}=={settings['SEGMENT_IDS'][i]}")
    for i in school_size_spec.index
    for q in school_size_spec.columns
    if school_size_spec.loc[i,q]!=0
)

In [26]:
larch_asim.explicit_value_parameters_from_spec(spec, p_col=SEGMENT_IDS, model=m)

### Coefficients

In [27]:
m.pf

,value,initvalue,nullvalue,minimum,maximum,holdfast,note
-999,-999.0,0.0,0.0,-inf,inf,1,
1,1.0,0.0,0.0,-inf,inf,1,
coef_grade_dist_0_1,0.0,0.0,0.0,-inf,inf,0,
coef_grade_dist_15_up,0.0,0.0,0.0,-inf,inf,0,
coef_grade_dist_5_15,0.0,0.0,0.0,-inf,inf,0,
coef_high_dist_0_1,0.0,0.0,0.0,-inf,inf,0,
coef_high_dist_15_up,0.0,0.0,0.0,-inf,inf,0,
coef_high_dist_5_15,0.0,0.0,0.0,-inf,inf,0,
coef_high_grade_dist_1_2,0.0,0.0,0.0,-inf,inf,0,
coef_high_grade_dist_2_5,0.0,0.0,0.0,-inf,inf,0,
coef_mode_logsum,0.0,0.0,0.0,-inf,inf,0,
coef_univ_dist_0_1,0.0,0.0,0.0,-inf,inf,0,
coef_univ_dist_15_up,0.0,0.0,0.0,-inf,inf,0,
coef_univ_dist_1_2,0.0,0.0,0.0,-inf,inf,0,
coef_univ_dist_2_5,0.0,0.0,0.0,-inf,inf,0,
coef_univ_dist_5_15,0.0,0.0,0.0,-inf,inf,0,
gradeschool_AGE0519,0.0,0.0,0.0,-inf,inf,0,
highschool_HSENROLL,0.0,0.0,0.0,-inf,inf,0,
university_COLLFTE,0.0,0.0,0.0,-inf,inf,0,
university_COLLPTE,0.0,0.0,0.0,-inf,inf,0,

In [28]:
larch_asim.apply_coefficients(coefficients, m)
larch_asim.apply_coefficients(size_coef, m, minimum=-6, maximum=6)

In [29]:
m.pf  # Spot check, confirm coefficients set correctly.

,value,initvalue,nullvalue,minimum,maximum,holdfast,note
-999,-999.000000,-999.0,-999.0,-999.0,-999.0,1,
1,1.000000,1.0,1.0,1.0,1.0,1,
coef_grade_dist_0_1,-1.641900,0.0,0.0,NaN,NaN,0,
coef_grade_dist_15_up,-0.046000,0.0,0.0,NaN,NaN,0,
coef_grade_dist_5_15,-0.203100,0.0,0.0,NaN,NaN,0,
coef_high_dist_0_1,-0.952300,0.0,0.0,NaN,NaN,0,
coef_high_dist_15_up,-0.188200,0.0,0.0,NaN,NaN,0,
coef_high_dist_5_15,-0.193000,0.0,0.0,NaN,NaN,0,
coef_high_grade_dist_1_2,-0.570000,0.0,0.0,NaN,NaN,0,
coef_high_grade_dist_2_5,-0.570000,0.0,0.0,NaN,NaN,0,
coef_mode_logsum,0.535800,0.0,0.0,NaN,NaN,0,
coef_univ_dist_0_1,-3.245100,0.0,0.0,NaN,NaN,0,
coef_univ_dist_15_up,-0.073000,0.0,0.0,NaN,NaN,0,
coef_univ_dist_1_2,-2.701100,0.0,0.0,NaN,NaN,0,
coef_univ_dist_2_5,-0.570700,0.0,0.0,NaN,NaN,0,
coef_univ_dist_5_15,-0.500200,0.0,0.0,NaN,NaN,0,
gradeschool_AGE0519,0.000000,0.0,0.0,-6.0,6.0,1,
highschool_HSENROLL,0.000000,0.0,0.0,-6.0,6.0,1,
university_COLLFTE,-0.524249,0.0,0.0,-6.0,6.0,1,
university_COLLPTE,-0.896488,0.0,0.0,-6.0,6.0,0,

In [30]:
m.dataservice = d

### Survey choice

In [31]:
m.choice_co_code = 'override_choice'

# Estimate

With the model setup for estimation, the next step is to estimate the model coefficients.  Make sure to use a sufficiently large enough household sample and set of zones to avoid an over-specified model, which does not have a numerically stable likelihood maximizing solution.

In [32]:
m.estimate()

req_data does not request avail_ca or avail_co but it is set and being provided

,value,initvalue,nullvalue,minimum,maximum,holdfast,note,best
-999,-999.000000,-999.0,-999.0,-999.0,-999.0,1,,-999.000000
1,1.000000,1.0,1.0,1.0,1.0,1,,1.000000
coef_grade_dist_0_1,-3.727703,0.0,0.0,NaN,NaN,0,,-3.727703
coef_grade_dist_15_up,-0.046000,0.0,0.0,NaN,NaN,0,,-0.046000
coef_grade_dist_5_15,-0.421664,0.0,0.0,NaN,NaN,0,,-0.421664
coef_high_dist_0_1,-1.980909,0.0,0.0,NaN,NaN,0,,-1.980909
coef_high_dist_15_up,-0.188200,0.0,0.0,NaN,NaN,0,,-0.188200
coef_high_dist_5_15,-0.256995,0.0,0.0,NaN,NaN,0,,-0.256995
coef_high_grade_dist_1_2,-1.188356,0.0,0.0,NaN,NaN,0,,-1.188356
coef_high_grade_dist_2_5,-1.098063,0.0,0.0,NaN,NaN,0,,-1.098063
coef_mode_logsum,0.486105,0.0,0.0,NaN,NaN,0,,0.486105
coef_univ_dist_0_1,-7.476604,0.0,0.0,NaN,NaN,0,,-7.476604
coef_univ_dist_15_up,-0.073000,0.0,0.0,NaN,NaN,0,,-0.073000
coef_univ_dist_1_2,-4.420887,0.0,0.0,NaN,NaN,0,,-4.420887
coef_univ_dist_2_5,-1.169426,0.0,0.0,NaN,NaN,0,,-1.169426
coef_univ_dist_5_15,-1.537107,0.0,0.0,NaN,NaN,0,,-1.537107
gradeschool_AGE0519,0.000000,0.0,0.0,-6.0,6.0,1,,0.000000
highschool_HSENROLL,0.000000,0.0,0.0,-6.0,6.0,1,,0.000000
university_COLLFTE,-0.524249,0.0,0.0,-6.0,6.0,1,,-0.524249
university_COLLPTE,1.807021,0.0,0.0,-6.0,6.0,0,,1.807021

c:\programdata\anaconda3\envs\asimtest\lib\site-packages\larch\linalg\__init__.py:18: UserWarning: minimum eig 1.323538296293168e-15 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")

â”£                x: -999                       -999.000000
â”ƒ                   1                             1.000000
â”ƒ                   coef_grade_dist_0_1          -3.727703
â”ƒ                   coef_grade_dist_15_up        -0.046000
â”ƒ                   coef_grade_dist_5_15         -0.421664
â”ƒ                   coef_high_dist_0_1           -1.980909
â”ƒ                   coef_high_dist_15_up         -0.188200
â”ƒ                   coef_high_dist_5_15          -0.256995
â”ƒ                   coef_high_grade_dist_1_2     -1.188356
â”ƒ                   coef_high_grade_dist_2_5     -1.098063
â”ƒ                   coef_mode_logsum              0.486105
â”ƒ                   coef_univ_dist_0_1           -7.476604
â”ƒ                   coef_univ_dist_15_up         -0.073000
â”ƒ                   coef_univ_dist_1_2           -4.420887
â”ƒ                   coef_univ_dist_2_5           -1.169426
â”ƒ                   coef_univ_dist_5_15          -1.537107
â”ƒ                   gradeschool_AGE0519           0.000000
â”ƒ                   highschool_HSENROLL           0.000000
â”ƒ                   university_COLLFTE           -0.524249
â”ƒ                   university_COLLPTE            1.807021
â”ƒ                   dtype: float64
â”£          loglike: -3097.64988639489
â”£        d_loglike: -999                        0.000000
â”ƒ                   1                           0.000000
â”ƒ                   coef_grade_dist_0_1         0.000179
â”ƒ                   coef_grade_dist_15_up       0.000000
â”ƒ                   coef_grade_dist_5_15       -0.000727
â”ƒ                   coef_high_dist_0_1         -0.000154
â”ƒ                   coef_high_dist_15_up        0.000000
â”ƒ                   coef_high_dist_5_15         0.000226
â”ƒ                   coef_high_grade_dist_1_2    0.000831
â”ƒ                   coef_high_grade_dist_2_5    0.001188
â”ƒ                   coef_mode_logsum           -0.001442
â”ƒ                   coef_univ_dist_0_1          0.000501
â”ƒ                   coef_univ_dist_15_up        0.000000
â”ƒ                   coef_univ_dist_1_2          0.000672
â”ƒ                   coef_univ_dist_2_5          0.003132
â”ƒ                   coef_univ_dist_5_15         0.000092
â”ƒ                   gradeschool_AGE0519         0.000000
â”ƒ                   highschool_HSENROLL         0.000000
â”ƒ                   university_COLLFTE          0.000000
â”ƒ                   university_COLLPTE         -0.000776
â”ƒ                   dtype: float64
â”£              nit: 20
â”£             nfev: 41
â”£             njev: 20
â”£           status: 0
â”£          message: 'Optimization terminated successfully.'
â”£          success: True
â”£     elapsed_time: datetime.timedelta(seconds=2, microseconds=53082)
â”£           method: 'slsqp'
â”£          n_cases: 984
â”£ iteration_number: 20
â”£          logloss: 3.148018177230579

# Output Estimation Results

In [33]:
# Write re-estimated value back into the coefficients file.
est_names = [j for j in coefficients.index if j in m.pf.index]
coefficients.loc[est_names, 'value'] = m.pf.loc[est_names, 'value']

### Write the re-estimated coefficients file

In [34]:
# Write out replacement coefficients file and model summaries
os.makedirs(os.path.join(edb_directory,'estimated'), exist_ok=True)

In [35]:
coefficients.reset_index().to_csv(
    os.path.join(
        edb_directory, 
        'estimated',
        "school_location_coefficients_revised.csv",
    ),
    index=False,
)

### Write the model estimation report, including coefficient t-statistic and log likelihood

In [36]:
m.to_xlsx(
    os.path.join(
        edb_directory, 
        'estimated',
        "school_location_model_estimation.xlsx",
    )
)

### Write updated size coefficients

In [48]:
# Write size coefficients into size_spec
for c in school_size_spec.columns:
    for i in school_size_spec.index:
        param_name = f"{i}_{c}"
        j = (size_spec['segment'] == i) & (size_spec['model_selector'] == 'school')
        try:
            size_spec.loc[j,c] = np.exp(m.get_value(param_name))
        except KeyError:
            pass

In [49]:
# Rescale each row to total 1, not mathematically needed
# but to maintain a consistent approach from existing ASim

size_spec.iloc[:,2:] = (size_spec.iloc[:,2:].div(size_spec.iloc[:,2:].sum(1), axis=0))

In [50]:
size_spec.to_csv(
    os.path.join(edb_directory,'estimated',"school_location_size_terms.csv"), 
    index=False,
)

# Next Steps

The final step is to either manually or automatically copy the `school_location_coefficients_revised.csv` file and `school_location_size_terms.csv` file to the configs folder, rename them to `school_location_coeffs.csv` and `destination_choice_size_terms.csv`, and run ActivitySim in simulation mode.

In [51]:
pd.read_csv(os.path.join(edb_directory,'estimated',"school_location_coefficients_revised.csv"))

            coefficient_name     value constrain
0         coef_univ_dist_0_1 -7.476604         F
1         coef_univ_dist_1_2 -4.420887         F
2         coef_univ_dist_2_5 -1.169426         F
3        coef_univ_dist_5_15 -1.537107         F
4       coef_univ_dist_15_up -0.073000         F
5         coef_high_dist_0_1 -1.980909         F
6   coef_high_grade_dist_1_2 -1.188356         F
7   coef_high_grade_dist_2_5 -1.098063         F
8        coef_high_dist_5_15 -0.256995         F
9       coef_high_dist_15_up -0.188200         F
10       coef_grade_dist_0_1 -3.727703         F
11      coef_grade_dist_5_15 -0.421664         F
12     coef_grade_dist_15_up -0.046000         F
13          coef_mode_logsum  0.486105         F

In [52]:
pd.read_csv(os.path.join(edb_directory,'estimated',"school_location_size_terms.csv"))

,segment,model_selector,TOTHH,RETEMPN,FPSEMPN,HEREMPN,OTHEMPN,AGREMPN,MWTEMPN,AGE0519,HSENROLL,COLLFTE,COLLPTE
0,work_low,workplace,0.000000,0.129129,0.193193,0.383383,0.120120,0.010010,0.164164,0.000,0.000000,0.000000,0.000000
1,work_med,workplace,0.000000,0.120120,0.197197,0.325325,0.139139,0.008008,0.210210,0.000,0.000000,0.000000,0.000000
2,work_high,workplace,0.000000,0.110000,0.207000,0.284000,0.154000,0.006000,0.239000,0.000,0.000000,0.000000,0.000000
3,work_veryhigh,workplace,0.000000,0.093000,0.270000,0.241000,0.146000,0.004000,0.246000,0.000,0.000000,0.000000,0.000000
4,university,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.088566,0.911434
5,gradeschool,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000,0.000000,0.000000,0.000000
6,highschool,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1.000000,0.000000,0.000000
7,escort,non_mandatory,0.000000,0.225000,0.000000,0.144000,0.000000,0.000000,0.000000,0.465,0.166000,0.000000,0.000000
8,shopping,non_mandatory,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
9,eatout,non_mandatory,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
10,othmaint,non_mandatory,0.000000,0.482000,0.000000,0.518000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
11,social,non_mandatory,0.000000,0.522000,0.000000,0.478000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
12,othdiscr,non_mandatory,0.252252,0.212212,0.000000,0.272272,0.165165,0.000000,0.000000,0.000,0.098098,0.000000,0.000000
13,atwork,atwork,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
14,work,trip,0.000000,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667,0.000,0.000000,0.000000,0.000000
15,escort,trip,0.001000,0.225000,0.000000,0.144000,0.000000,0.000000,0.000000,0.464,0.166000,0.000000,0.000000
16,shopping,trip,0.001000,0.999000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
17,eatout,trip,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
18,othmaint,trip,0.001000,0.481000,0.000000,0.518000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
19,social,trip,0.001000,0.521000,0.000000,0.478000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
20,othdiscr,trip,0.252252,0.212212,0.000000,0.272272,0.165165,0.000000,0.000000,0.000,0.098098,0.000000,0.000000
21,univ,trip,0.000999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.591409,0.407592